@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">Ошибка</h1>
    <h2 class="text-error">Во время обработки Вашего запроса произошла ошибка</h2>
</hgroup>
