@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-error">Блокировка</h1>
    <h2 class="text-error">Эта учетная запись заблокирована, повторите попытку позже</h2>
</hgroup>
