@{
    ViewBag.Title = "Комплекс";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section meta
{
    <meta name="description" content="Примерный Комплекс Лечебной Гимнастики, применимый во Втором (Подостром) Периоде" />
    <meta name="yandex-verification" content="9c449c3a09bc553d" />
}

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default" id="left">
            @Html.Partial("~/Views/Shared/_TreePartial.cshtml")
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default" id="right">
            <div id="loadcontent">
                @Html.Partial("~/Views/Shared/LifeGo/SPHA/_acute_period3.cshtml")
            </div>
        </div>
    </div>
</div>