@{
    ViewBag.Title = "Заключение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section meta
{
    <meta name="description" content="В Заключение хочется еще раз сказать, что это просто «Азбука», Схема, приглашение к Самостоятельному Осмысливанию и поиску Информации. Основной Задачей Вводного Курса является попытка Научиться Справляться с Состоянием «Зажатости» тела" />
    <meta name="yandex-verification" content="9c449c3a09bc553d" />
}

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default" id="left">
            @Html.Partial("~/Views/Shared/_TreePartial.cshtml")
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default" id="right">
            <div id="loadcontent">
                @Html.Partial("~/Views/Shared/LifeGo/SPHA/_conclusion.cshtml")
            </div>
        </div>
    </div>
</div>