    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_osteochondrosis" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "back first_back" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_smailphilosophy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "forward" })

    <h1>Жизнь - это Движение</h1>

    <p class="justifyaling">
        <strong>Жизнь &ndash; это Движение&raquo;</strong><strong>&hellip; Банальный Девиз, над которым обычно не задумываешься, пока не Почувствуешь, что не можешь полноценно Жить и Двигаться. Вообще, практически все &laquo;вечные&raquo; Истины считаются банальными &nbsp;&ndash; &nbsp;знакомо настолько, &nbsp;что перестаешь замечать.</strong>
    </p>

    <p class="justifyaling">
        <strong> Каждый пятый человек после 40 лет (а многие и раньше) знаком с этим Ощущением, когда при попытке&nbsp; Встать (у каждого свой вариант &ndash; согнулся, чихнул, наклонился за банкой с пивом и т.п.), он вдруг Почувствовал&hellip;(Ох, уж эти &laquo;вдруг&raquo;&hellip;) &laquo;Плата за <em>Прямо</em>хождение&raquo; (но что-то уж&nbsp;&nbsp; слишком Высокая Плата),&nbsp; &laquo;Зубная Боль в Пояснице&raquo;,&nbsp; Радикулит,&nbsp; Прострел и т.п.&nbsp; &ndash; какими только &laquo;ласковыми&raquo; эпитетами не называют эту Проблему. Так вот, если эта Проблема стала Вам до боли Родной, если периодически даешь себе клятвенные Обещания &laquo;заняться Спиной&raquo; (а затем успешно их забываешь), если иногда &laquo;Небо кажется с Овчинку&raquo; - значит, Вы уже вполне Созрели, чтобы задуматься над своим Состоянием.</strong>
    </p>

    <p class="justifyaling">
        <strong>Горы специальной литературы, самые посещаемые сайты в Интернете, море Информации&nbsp; (от сугубо медицинской до научно-популярной), официальная медицина и народные целители &ndash; все к Вашим услугам,&hellip; да только Проблема остается. &nbsp;&nbsp;</strong><strong>Что Делать?</strong>
    </p>

    <p class="justifyaling">
        <strong>Хороший Вопрос, хрестоматийный,&nbsp; &laquo;Вечный&raquo;&hellip; (&laquo;&hellip;Подумать надо&raquo; - сказал И. Ньютон, потирая шишку от яблока на голове. &laquo;А что&nbsp; тут думать &ndash; <u>Трясти</u> &nbsp;надо&raquo; - ответил Студент.)</strong>
    </p>
    <h2>Небольшое философское отступление.</h2>

    <p>&nbsp;</p>

    <p><strong> Неблагодарность попыток Убедить отдельного человека&nbsp;&nbsp; (или все Человечество в целом<em>)</em></strong><em> <strong>Очевидна</strong></em><strong> (отсюда иногда возникает Желание просто молча Делать свое Дело). Дело в том, что <em>мы все всё <u>Знаем</u></em>. И, самое забавное, что это <em>Действительно Так</em>. Но от владения Информацией до применения ее как Руководства <em>к Действию</em> дистанция огромного размера (читай М. Веллера &laquo;Все о Жизни&raquo;). Поэтому <em>психо</em>логические феномены оставим Специалистам, скептики пусть брюзжат, а &hellip; &laquo;караван идет&raquo;.</strong></p>

    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_smailphilosophy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs" }, new { @class = "forward" })
<p>&nbsp;</p>