<div id="loadcontent">
    <h1>САЙТ АНДРЕЯ КРИВОШЕЕВА</h1>
    <img src="~/Content/images/andr.jpg" alt="Фото Андрея Кривошеева" class="imgPhoto" />
    <h2>Немного о себе, любимом&hellip;</h2>
    <p>Зачем я ввязываюсь в &lsquo;эту бодягу&rsquo;, я и сам толком не знаю&hellip; Наверное, время пришло - Созрел. Вообще-то, эпистолярный жанр &ndash; это не мое, да и по характеру я, скорее Интроверт (хотя и не чистый &ndash; процентов этак на 70). Беседую, в основном, с друзьями-приятелями, с коллегами по работе &ndash; с аудиторией работать не умею, да и не особо расстраиваюсь. Настоящий Разговор &ndash; это не для больших аудиторий, это для Своих. А главное, мне всегда нравился свадебный лозунг: &lsquo;Не надо Советов - помогите Материально!&rsquo;</p>

    <p> Вероятно, на склад Характера более всего повлияла Профессия (если только это можно назвать Профессией) &ndash; Ремонтник РА. Это с Молодости и это уже Диагноз. Человек, с увлечением занимающийся Ремонтом, имеет, чаще всего, &lsquo;Перевернутое&rsquo; Сознание &ndash; он дотошен, точен до нудности, необычен, странен, но, чаще всего, интересен. Сознание обычно &lsquo;переворачивает&rsquo; Привычка мыслить &lsquo;от Обратного&rsquo; т.е. обычный человек от Причины к Следствию, а Ремонтник от Следствия к Причине&hellip; И это начинает влиять на его Мировоззрение, Интересы, Судьбу. Желание Разобраться, как это Работает, в чем Причина Неисправности, что можно Сделать &ndash; в крови, отсюда обычно довольно большой Диапазон Интересов, Навыков, Привычка все Систематизировать и Раскладывать &lsquo;по Полочкам&rsquo; (знакомы, вероятно, и Вы с данным Типом людей, хотя некоторых они и Раздражают). Разумеется, я тоже достаточно Вредный, имею Привычку доводить все до Логического Завершения и&hellip; Ну, в общем, Вы уже поняли.</p>

    <p> Далее в Судьбе появляется интересное Сочетание Профессий и Увлечений: Радиоинженер, Ремонтник, Инженер по Мед.технике и&hellip; спортивная борьба Дзю-до, Боевые Искусства в целом (и, разумеется, все, что с ними связано) и т.д. и т.п. Но везде &ndash; в Армии, в Спортивной Секции, на Работе, в Семье, среди Друзей и Знакомых &ndash; при столкновении с Травмами (точнее с их Последствиями) возникало Желание Помочь. Реальная Помощь выходила не Словами, а Руками &ndash; действенная, эффективная, наглядная. Постепенно Дотошность и привычка достигать определенного Профессионализма во всем, за что берешься, заставили заниматься углубленным изучением Вопроса, думать и экспериментировать, читать и искать что-то свое&hellip; И Практика, и человеческие Страдания, пропущенные через себя&hellip; И так вот уже 25 лет.</p>

    <p> Я не Массажист. Не Профессионал &ndash; т.е. никогда не делал из этого Бизнеса (да и вряд ли буду), у меня другие источники дохода и существования. Но&hellip; Стань проще и люди к тебе потянутся.</p>

    <p> В общении с людьми (язык не поворачивается назвать их Больными &ndash; ведь чаще всего это достаточно близкие люди) возникало Ощущение, что они хотя и знают много (а последние 10 лет чаще всего это были врачи-профессионалы, асы своего дела и, безусловно, опытные специалисты), но как-то Теряются, не могут Собрать свои Знания и применить их к себе конкретно. Методик, вроде, много, а какую выбрать, что поможет именно тебе?.. И вот в таких Беседах, когда ты сидишь на спине Пациента и &lsquo;заговариваешь ему зубы&rsquo;, одновременно делаешь Массаж и играешь в &lsquo;вечер Вопросов и Ответов&rsquo;, постепенно вырисовывался круг тех Ответов на эти Вопросы, которые удовлетворяют их Любопытство. И затем ты начинаешь повторяться &ndash; сто раз, двести раз, и больше, и полнее&hellip; И вот ты Созрел.</p>

    <p> То, что Вы читаете &ndash; это всего лишь мое Видение Проблемы, ни в коем случае не претендующее на звание Истины в последней инстанции. Скорее это попытка заставить Вас Мыслить и Действовать Самостоятельно, осознано подходить к проблеме своего Здоровья, Здоровья своих детей и близких. Оставим Специалистам изучение глубинной Сути Процессов течения болезни, вопросы Профилактики (точнее все, о чем пойдет речь и есть Профилактика, только уже &lsquo;поздно пить боржоми&rsquo;) &ndash; обращаться к Науке будем только с одной Целью &ndash; &lsquo;вытянуть&rsquo; организм из этого Состояния.</p>

    <p> Рассчитано это на неспециалистов, поэтому заранее прошу Простить за некоторую Механистичность Суждений, упрощенность и не наукообразность. Конечно, совсем уж просто не получилось &ndash; Проблема-то уж очень не проста. Тем не менее &ndash; &lsquo;желающий видеть да увидит&rsquo;.</p>

    <p> &lsquo;Нельзя объять необъятное&rsquo; - многие Методы и Способы лечения могут быть не известны мне, просто недоступны или быть созданы вновь. Информация отбиралась из-за Простоты и Доступности, (это не значит легкости в применении), действенность приемов проверялась многолетней Практикой и, безусловно, каждый найдет здесь и известное ему, и что-то новое. Это не научное исследование, а Руководство к Действию.</p>

    <p> Большое спасибо всем коллегам-врачам за консультации по различным Вопросам! За помощь в сборе Информации и компьютерную Верстку спасибо коллегам по работе - без них просто ничего бы не было.</p>

    <p> Для углубленного изучения Вопроса можно обратиться к специальной литературе. Список используемой литературы прилагается.</p>

    <p></p>

    <p class="rightalign"> Кривошеев А.В.</p>

    <p></p>

    <p class="centeralign">Посвящается всем Врачам. Спасибо Вам за Вашу работу!</p>

    <p></p>

    <p class="centeralign">г. Новосибирск</p>

    <p class="centeralign">2004</p>

    <p class="centeralign">тел. 315 &ndash; 98 - 66</p>
</div>

