@{
    ViewBag.Title = "Контакты";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

    <address>
        <i class="icon-envelope"></i><strong>Поддержка:</strong>   <a href="mailto:spalpu@spalpu.ru">spalpu@spalpu.ru</a><br />
    </address>
</div>