@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    @*<address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>*@

    <p>
        <address>
            <i class="icon-envelope"></i><strong>&nbsp;&nbsp;&nbsp;&nbsp;Поддержка:</strong>   <a href="mailto:spalpu@spalpu.ru">spalpu@spalpu.ru</a><br />
        </address>
    </p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
</div>