
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>@{
    Layout = null;
    ViewBag.Title = "Подтверждение email";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/Content/less/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style type="text/css">
        body {
            -webkit-font-smoothing: antialiased; /*чтобы на мобильных даже при увеличении шрифт был гладким*/
            -webkit-overflow-scrolling: touch; /*чтобы на мобильных можно было проскролить*/
        }
    </style>
</head>
<body>
    <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#myModal">Показать всплывающее окно</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModal-label">Подтверждение email</h4>
                </div>
                <div class="modal-body modal_body_padding_bottom">
                    <div class="form-group">
                        Пожалуйста, проверьте свою электронную почту и перейдите по указанной там ссылке
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmailTest</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
