@{
    ViewBag.Title = "СФА";
}

@section meta
{
    <meta name="description" content="Сайт Андрея Кривошеева" />
    <meta name="yandex-verification" content="9c449c3a09bc553d" />
}
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default" id="left">
            @Html.Partial("_TreePartial")
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default" id="right">
            @Html.Partial("LifeGo/_main")
        </div>
    </div>
</div>