@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_pelvic_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/pelvic_massage", data_mytitle = "Массаж таза" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_neck_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/neck_massage", data_mytitle = "Массаж шеи" })

<h1>Массаж живота</h1>

<img src="~/Content/images/imagPublic/dubl/5_1.png" alt="Массаж живота" title="Массаж живота" />
<p>Массаж живота проводится классическими приемами, основное направление движений &ndash; по часовой стрелке (по ходу кишечника). Межреберные промежутки, грудина, область ключиц и основание грудных мышц прорабатываются шагами пальцев рук. Проводят так же их короткое растирание.</p>

<img src="~/Content/images/imagPublic/dubl/5_2.png" alt="Массаж живота" title="Массаж живота" />
<p>Повторная проработка кисти, дренаж мышц руки заканчивается встряхивающими и скручивающими движениями. Затем проводят вытягивание руки в плечевом суставе с упором в подмышечную впадину. Движения плавные и осторожные. Симметрично повторить для другой руки.</p>

<img src="~/Content/images/imagPublic/dubl/5_3.png" alt="Массаж живота" title="Массаж живота" />
<img src="~/Content/images/imagPublic/dubl/5_4.png" alt="Массаж живота" title="Массаж живота" />
<img src="~/Content/images/imagPublic/dubl/5_5.png" alt="Массаж живота" title="Массаж живота" />
<p>Произвести перевод руки вверх над головой через сторону, постоянно встряхивая и вращая ее вокруг оси. В случае тугоподвижности сустава можно подложить колено под плечо, выделить плечевой сустав и проработать его приемами классического массажа. Согнув руку в локте ‘треугольником’ и надавливая на локоть своей рукой, производят осторожное растягивание плеча и грудной мышцы. Продолжая движение, переводят локоть в сторону и выполняют круговые движения локтем. Симметрично выполняется для другой руки. Со стороны головы производят вытягивание обеих рук сразу, их встряхивание и скручивание вокруг оси. Можно так же выполнять разводящие и скрестные движения руками.</p>

<img src="~/Content/images/imagPublic/dubl/5_6.png" alt="Массаж живота" title="Массаж живота" />
<p>К Растягиванию шейных позвонков приступают после предварительной проработки мышц шеи, ушных раковин, волосистой части головы. Удерживая голову за затылок (иногда и подбородок), осторожным движением потянуть голову назад, затем опустить ее на поверхность. Выполнить два-три раза.</p>

<img src="~/Content/images/imagPublic/dubl/5_7.png" alt="Массаж живота" title="Массаж живота" />
<p>Повернув голову в сторону и удерживая ее за затылок и подбородок, повторить вытягивание так же два-три раза. Симметрично выполнить в противоположенную сторону.</p>

<img src="~/Content/images/imagPublic/dubl/5_8.png" alt="Массаж живота" title="Массаж живота" />
<p>Массаж Лица является косметической процедурой, но все же не плохо использовать простейшие приемы его для расслабления мимических мышц. Легкие, поглаживающие движения большими пальцами рук выполняются от середины лица по направлению к ушным раковинам.</p>

<img src="~/Content/images/imagPublic/dubl/5_9.png" alt="Массаж живота" title="Массаж живота" />
<p>Растягивание позвоночника выполняется обычно на завершающем этапе массажа. Глубоко запустить предплечья под спину пациента, почти до поясницы. Трение его ног и таза о поверхность создает необходимый упор. Вытягивая руки вдоль позвоночника, осторожно растягиваем туловище и укладываем спину на опору.</p>

<img src="~/Content/images/imagPublic/dubl/5_10.png" alt="Массаж живота" title="Массаж живота" />
<p>Для более ‘продвинутых’ пациентов, не находящихся в острой стадии воспаления, возможно растягивание с упором ногами в таз и руками за подмышечные впадины. Руки можно сцепить в ‘замок’ на животе.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_pelvic_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/pelvic_massage", data_mytitle = "Массаж таза" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_neck_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/neck_massage", data_mytitle = "Массаж шеи" })
