    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Acute_period2", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Special", myTitle = "" })

    <h1>Примерный Комплекс Лечебной Гимнастики, применимый во Втором (Подостром) Периоде</h1>
    <img src="~/Content/images/imagPublic/attachment/2_period/1.png"/>
    <p><strong>И.п. лежа. <em>Одновременное </em>сгибание и разгибание стоп.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/2.png"/>
    <p><strong>И.п. лежа. <em>Поочередное </em>сгибание и разгибание ног в коленях.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/3.png"/>
    <p><strong>И.п. лежа. <em>Поочередное </em>поднимание рук вверх с последующим <em>Пассивным Вытяжением </em>их Инструктором ЛФК.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/4.png"/>
    <p><strong>И.п. лежа, левая нога согнута. <em>Отведение </em>правой ноги в сторону. После нескольких повторений то же левой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/5.png"/>
    <p><strong>И.п. лежа, руки к плечам. <em>Круги </em>согнутыми руками.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/6.png"/>
    <p><strong>И.п. лежа, левая нога <em>прижата к животу. Поднимание </em>правой ноги вперед. После нескольких повторений - то же левой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/7.png"/>
    <p><strong>И.п. лежа, ноги отогнуты. <em>Приподнимание </em>крестца с <em>одно</em>временным <em>кифозированием</em> поясничного отдела позвоночника.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/8.png"/>
    <p><strong>И.п. лежа, ноги отогнуты, Руки на животе. <em>Приподнимание </em>головы и плеч. Фиксация этого положения 2-4 секунды.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/9.png"/>
    <p><strong>И.п. лежа. Статическое напряжение больших ягодичных мышц. Время напряжения 6-8 сек.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/10.png"/>
    <p><strong>И.п. лежа, ноги согнуты. Одновременное сгибание ног к животу.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/11.png"/>
    <p><strong>И.п. упор на коленях. Сесть на пятки, не отрывая рук от кушетки.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/12.png"/>
    <p><strong>И.п. упор на коленях, ноги врозь. Поворот налево, левая рука в сторону. То же вправо.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/13.png"/>
    <p><strong>И.п. упор на коленях. <em>Сгибание </em>вверх позвоночника. При возвращении в И.п. не прогибаться.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/14.png"/>
    <p><strong>И.п. упор на коленях. Выпрямляя левую ногу, выполнить упор на правом колене. Ногу <em>высоко не поднимать</em>. То же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/15.png"/>
    <p><strong>И.п. упор на коленях, ноги врозь. Сгибая правую ногу влево вверх, коснуться правым коленом левой руки. То же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/16.png"/>
    <p><strong>И.п. упор на коленях. Отводя левую ногу назад, сесть на правую пятку (<em>полу</em>шпагат). То же другой ногой. Руки от кушетки не отрывать.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/17.png"/>
    <p><strong>И.п. лежа на животе (под животом валик). Поочередные приподнимания ног от кушетки на 3-5 см и удержание их в этом положении 4-6 сек.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/18.png"/>
    <p><strong>И.п. лежа на животе, руки в стороны. <em>Приподнять </em>голову и плечи от кушетки на 3-5 см и удержание в этом положении 4-6 сек.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/19.png"/>
    <p><strong>И.п. лежа на животе. Поочередное отведение ног в стороны. Ноги от кушетки высоко не поднимать.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/20.png"/>
    <p><strong>И.п. лежа на животе. Поочередные сгибания ног в коленях. Шлепнуть стопой об опору.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/21.png"/>
    <p><strong>И.п. упор на правом колене, левая нога выпрямлена вперед, (сбоку от кушетки). Отведение левой ноги в сторону. То же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/22.png"/>
    <p><strong>И.п. лежа на боку. Одновременное сгибание ног вперед. То же на другом боку.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/23.png"/>
    <p><strong>И.п. лежа, ноги на валике. <em>Приподнимание </em>крестца за счет <em>кифозирования</em> поясничного отдела позвоночника.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/24.png"/>
    <p>И.п. лежа. Поочередное &quot;вытягивание&quot; ног вниз. <em><strong>Горизонтальное</strong> </em>вращение таза.</p>
    <img src="~/Content/images/imagPublic/attachment/2_period/25.png"/>
    <p><strong>И.п. лежа. &quot;Раз&quot;- руки вверх. &quot;Два&quot; - сгибая правую ногу вперед, прижать колено к животу.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/2_period/26.png"/>
    <p><strong>И.п. лежа, ноги врозь. <em>Ротация </em>прямых ног внутрь и наружу.</strong></p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Acute_period2", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Special", myTitle = "" })
