@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Acute_period2", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Special", myTitle = "" })

<h1>Примерный комплекс лечебной гимнастики, применимый во втором (подостром) периоде</h1>

<img src="~/Content/images/imagPublic/attachment/2_period/1.png" />
<p>Исходное положение лежа. Одновременное сгибание и разгибание стоп.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/2.png" />
<p>Исходное положение лежа. Поочередное сгибание и разгибание ног в коленях.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/3.png" />
<p>Исходное положение лежа. Поочередное поднимание рук вверх с последующим пассивным вытяжением их инструктором ЛФК.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/4.png" />
<p>Исходное положение лежа, левая нога согнута. Отведение правой ноги в сторону. После нескольких повторений то же левой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/5.png" />
<p>Исходное положение лежа, руки к плечам. Круги согнутыми руками.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/6.png" />
<p>Исходное положение лежа, левая нога прижата к животу. Поднимание правой ноги вперед. После нескольких повторений - то же левой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/7.png" />
<p>Исходное положение лежа, ноги отогнуты. Приподнимание крестца с одновременным кифозированием поясничного отдела позвоночника.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/8.png" />
<p>Исходное положение лежа, ноги отогнуты, руки на животе. Приподнимание головы и плеч. Фиксация этого положения 2-4 секунды.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/9.png" />
<p>Исходное положение лежа. Статическое напряжение больших ягодичных мышц. Время напряжения 6-8 сек.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/10.png" />
<p>Исходное положение лежа, ноги согнуты. Одновременное сгибание ног к животу.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/11.png" />
<p>Исходное положение упор на коленях. Сесть на пятки, не отрывая рук от кушетки.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/12.png" />
<p>Исходное положение упор на коленях, ноги врозь. Поворот налево, левая рука в сторону. То же вправо.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/13.png" />
<p>Исходное положение упор на коленях. Сгибание вверх позвоночника. При возвращении в исходное положение не прогибаться.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/14.png" />
<p>Исходное положение упор на коленях. Выпрямляя левую ногу, выполнить упор на правом колене. Ногу высоко не поднимать. То же другой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/15.png" />
<p>Исходное положение упор на коленях, ноги врозь. Сгибая правую ногу влево вверх, коснуться правым коленом левой руки. То же другой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/16.png" />
<p>Исходное положение упор на коленях. Отводя левую ногу назад, сесть на правую пятку (полушпагат). То же другой ногой. Руки от кушетки не отрывать.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/17.png" />
<p>Исходное положение лежа на животе (под животом валик). Поочередные приподнимания ног от кушетки на 3-5 см и удержание их в этом положении 4-6 сек.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/18.png" />
<p>Исходное положение лежа на животе, руки в стороны. Приподнять голову и плечи от кушетки на 3-5 см и удержание в этом положении 4-6 сек.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/19.png" />
<p>Исходное положение лежа на животе. Поочередное отведение ног в стороны. Ноги от кушетки высоко не поднимать.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/20.png" />
<p>Исходное положение лежа на животе. Поочередные сгибания ног в коленях. Шлепнуть стопой об опору.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/21.png" />
<p>Исходное положение упор на правом колене, левая нога выпрямлена вперед, (сбоку от кушетки). Отведение левой ноги в сторону. То же другой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/22.png" />
<p>Исходное положение лежа на боку. Одновременное сгибание ног вперед. То же на другом боку.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/23.png" />
<p>Исходное положение лежа, ноги на валике. Приподнимание крестца за счет кифозирования поясничного отдела позвоночника.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/24.png" />
<p>Исходное положение лежа. Поочередное &quot;вытягивание&quot; ног вниз. Горизонтальное вращение таза.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/25.png" />
<p>Исходное положение лежа. &quot;Раз&quot;- руки вверх. &quot;Два&quot; - сгибая правую ногу вперед, прижать колено к животу.</p>

<img src="~/Content/images/imagPublic/attachment/2_period/26.png" />
<p>Исходное положение лежа, ноги врозь. Ротация прямых ног внутрь и наружу.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Acute_period2", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Special", myTitle = "" })
