    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "back" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "forward" })

    <h1>Специальные Упражнения, применяемые на  Втором Этапе Острого Периода.</h1>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/12.png" />
    <p><strong>И.п. лежа, ноги согнуты. <em>Приподнимание </em>крестца с опорой на <em>нижне</em>грудной отдел позвоночника и стопы, за счет <em>кифозирования</em> поясничного отдела позвоночника.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/13.png" />
    <p><strong>И.п. лежа, ноги согнуты. <em>Приподнимание </em>головы с одновременным <u>напряжением </u>мышц брюшного пресса.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/14.png" />
    <p><strong>И.п. лежа. <em>Статическое </em>напряжение больших ягодичных мышц. 8-10 напряжений каждое по 4-6 секунд.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/15.png" />
    <p><strong>И.п. лежа, ноги согнуты врозь. Левую руку вверх - вдох. Опустить руку вперед-вниз-внутрь, приподнять голову и плечи, потянуться рукой к правому колену, выдох. То же другой рукой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/16.png" />
    <p><strong>И.п. лежа. Поочередные сгибания ног. При </strong><strong>выпрямлении ног, <em>давить </em>стопой на постель, <em>кифозируя</em> при этом поясничный отдел позвоночника.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/17.png" />
    <p><strong>И.п. лежа. То же упражнение, что и №16, но выполняется двумя ногами одновременно.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/18.png" />
    <p><strong>И.п. лежа, под ногами валик. <em>Приподнимание </em>таза за счет <em>кифозирования</em> поясничного отдела позвоночника.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/19.png" />
    <p><strong>И.п. упор на коленях. <em>Сесть на пятки</em>, не отрывая кистей от постели и вернуться в И.п. При возвращении в И.п. &ndash; не прогибаться!</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/20.png" />
    <p><strong>И.п. упор на коленях. <em>Сгибание </em>позвоночника (без прогибания при возвращении в И.п.!)</strong></p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs" }, new { @class = "back" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs" }, new { @class = "forward" })
