@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/acute_period1", data_mytitle = "Комплекс лечебной гимнастики" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/acute_period3", data_mytitle = "Комплекс лечебной гимнастики острого периода" })

<h1>Специальные упражнения, применяемые на втором этапе острого периода.</h1>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/12.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение лежа, ноги согнуты. Приподнимание крестца с опорой на нижнегрудной отдел позвоночника и стопы, за счет кифозирования поясничного отдела позвоночника.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/13.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение лежа, ноги согнуты. Приподнимание головы с одновременным напряжением мышц брюшного пресса.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/14.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение лежа. Статическое напряжение больших ягодичных мышц. 8-10 напряжений каждое по 4-6 секунд.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/15.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение лежа, ноги согнуты врозь. Левую руку вверх - вдох. Опустить руку вперед-вниз-внутрь, приподнять голову и плечи, потянуться рукой к правому колену, выдох. То же другой рукой.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/16.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение лежа. Поочередные сгибания ног. При выпрямлении ног, давить стопой на постель, кифозируя при этом поясничный отдел позвоночника.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/17.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение лежа. То же упражнение, что и №16, но выполняется двумя ногами одновременно.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/18.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение лежа, под ногами валик. Приподнимание таза за счет кифозирования поясничного отдела позвоночника.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/19.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение упор на коленях. Сесть на пятки, не отрывая кистей от постели и вернуться в исходное положение При возвращении в исходное положение &ndash; не прогибаться!</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/20.png" alt="Специальные упражнения на втором этапе острого периода" title="Специальные упражнения на втором этапе острого периода" />
<p>Исходное положение упор на коленях. Сгибание позвоночника (без прогибания при возвращении в исходное положение!)</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/acute_period1", data_mytitle = "Комплекс лечебной гимнастики" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/acute_period3", data_mytitle = "Комплекс лечебной гимнастики острого периода" })
