@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_attachment" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/Attachment", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period2" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Acute_period2", myTitle = "" })

<h1>Примерный комплекс лечебной гимнастики, применяемый в остром периоде (начальный этап)</h1>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/1.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа. Сгибание и разгибание стоп и пальцев кистей в кулак.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/2.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа, левая нога согнута в колене. Сгибание и разгибание правой ноги, скользя пяткой по постели. После 8-10 повторений - то же другой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/3.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа. Поочередные поднимания рук вверх.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/4.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа, левая нога согнута в колене. Отведение правой ноги в сторону. После 8-10 повторений - то же другой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/5.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа, руки к плечам. Круги согнутыми руками вперед и назад.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/6.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа. Поочередные выпрямления ног в коленях, опираясь бедрами о валик.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/7.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа. Сгибание рук к плечам в сочетании с дыханием по системе Стрельниковой А.Н.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/8.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа, ноги согнуты. Поочередное отведение коленей в стороны.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/9.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа, ноги согнуты. Руки вверх - вдох, прижать колено к животу. То же другой ногой.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/10.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа, ноги врозь. Ротация ног внутрь и наружу.</p>

<img src="~/Content/images/imagPublic/attachment/1_begin_period/11.png" alt="Лечебная гимнастика в остром периоде (начальный этап)" title="Лечебная гимнастика в остром периоде (начальный этап)" />
<p>Исходное положение лежа. Диафрагмальное дыхание по системе Стрельниковой А.Н.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_attachment" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/Attachment", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period2" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Acute_period2", myTitle = "" })
