    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_metodika" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Metodika", myTitle = "Двигательный режим острого периода" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "Spa/_spa" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/All", myTitle = "Предисловия не читают" })

    <h1>Неправильная и правильная нагрузка на позвоночник</h1>
    <img src="~/Content/images/imagPublic/attachment/all/1.png" />
    <img src="~/Content/images/imagPublic/attachment/all/2.png" />
    <img src="~/Content/images/imagPublic/attachment/all/3.png" />
    <img src="~/Content/images/imagPublic/attachment/all/4.png"/>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_metodika" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Metodika", myTitle = "Двигательный режим острого периода" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "Spa/_spa" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/All", myTitle = "Предисловия не читают" })
