@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_conclusion" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Conclusion", myTitle = "Заключение" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Acute_period1", myTitle = "Комплекс лечебной гимнастики" })

<h1>Лечебная физкультура. Упражнения для спины.</h1>

<p>ПАМЯТКА</p>
<p>Для самостоятельных занятий лечебной физкультурой при остеохондрозе поясничного отдела позвоночника </p>
<p> В профилактике и лечении остеохондроза позвоночника существенное значение имеют систематические занятия специальной лечебной гимнастикой.</p>
<p> Прежде чем приступить к самостоятельным занятиям лечебной гимнастикой, необходимо проконсультироваться со специалистом (невропатолог, ортопед-травматолог, врач ЛФК).</p>
<p> Заниматься лечебной гимнастикой можно в любое время дня. Очень полезно утром, сразу после сна, выполнить несколько упражнений (например, упр. № 1, 3, 13, 17, 20 острого периода), затем совершить утренний туалет и продолжать выполнение упражнений, согласно предписанному врачом и методистом ЛФК комплексу.</p>
<p> Одежда во время выполнения упражнений должна быть легкой, не стесняющей движений, но и не допускающая переохлаждения, лучше всего - шерстяной тренировочный костюм.</p>
<p> Некоторые из рекомендованных вам упражнений полезно выполнять в течение рабочего дня (например, упражнение № I тренировочного периода - периода ремиссии).</p>
<p>П О М Н И Т Е !</p>
<p> Появление болевых ощущений во время выполнения упражнений является сигналом к снижению амплитуды выполнения упражнений, их интенсивности или к полному прекращению их выполнения.</p>
<p> Для того чтобы занятия лечебной гимнастикой приносили наибольшую пользу, следует:</p>
<p> а) выполнять упражнения ежедневно;</p>
<p> б) выполнять упражнения старательно, в медленном темпе, не искажая самовольно форму, скорость и интенсивность выполняемых упражнений;</p>
<p> в) при выполнении упражнений не задерживать дыхание;</p>
<p> г) периодически консультироваться с врачом, не скрывая от него свои недуги.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_conclusion" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Conclusion", myTitle = "Заключение" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period1" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Acute_period1", myTitle = "Комплекс лечебной гимнастики" })
