@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_breathing_exercises" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/Lifego/Breathing_exercises", data_mytitle = "Дыхательные упражнения" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/Lifego/Massage", data_mytitle = "Массаж" })

<h1>Дыхательная гимнастика</h1>

<img src="~/Content/images/imagPublic/dux/d1.png" alt="Упражнение №23 Ладошки" title="Упражнение №23 Ладошки" />
<p>Упражнение №23. Первое упражнение на координацию &ndash; ‘ладошки’. Из свободной стойки поднять руки к плечам, сжать кисти в кулаки и произвести шумное и резкое втягивание воздуха через нос &ndash; ‘принюхаться>’. При этом вы почувствуете, как диафрагма опустилась вниз и расслабилась, брюшная стенка расслабилась и чуть подалась вперед &ndash; ощущение, будто ‘воздух наполняет живот’. Выдох во всех упражнениях самопроизвольный, расслабляя межреберные мышцы.</p>

<img src="~/Content/images/imagPublic/dux/d2.png" alt="Упражнение №24 Насос" title="Упражнение №24 Насос" />
<p>Упражнение №24. ‘Насос’. Движение руками от подреберных дуг вниз, как бы накачивая шину насосом. Сначала спину не гнуть, по мере тренированности понемногу включать в работу позвоночник. Наклоняясь вперед, ‘понюхать’ воздух ‘с пола’, амплитуда движения небольшая, акцент делается на ритмичности. Выдох свободный, распрямляясь и расслабляясь. Число повторений &ndash; ‘стрельниковская сотня’.</p>

<img src="~/Content/images/imagPublic/dux/d3.png" alt="Упражнение №25 Обними себя за плечи" title="Упражнение №25 Обними себя за плечи" />
<p>Упражнение №25. ‘Обними себя за плечи’. Немного отклоняясь назад, сделать скрестное хлещущее движение руками, обнимая себя за плечи. Одновременно провести резкий, шумный вдох через нос, ‘нюхая’ воздух ‘с потолка’. Амплитуда тоже небольшая, больше внимания обращать на разгибание грудного и тазобедренного отдела. Выдох свободный, распрямляясь. Число повторений то же.</p>

<img src="~/Content/images/imagPublic/dux/d4.png" alt="Упражнение №26 Большой маятник" title="Упражнение №26 Большой маятник" />
<p>Упражнение №26. ‘Большой маятник’’. Логическое соединение> двух предыдущих движений в одно, выдох производится свободно, при прохождении вертикального положения. Темп движения невысокий, задается ритмом дыхания. Амплитуда тоже небольшая - задача не ‘раскачать’ позвоночник, а дать знакопеременную нагрузку на диафрагму, брюшной пресс, становые и дыхательные мышцы. Число повторений то же.</p>

<img src="~/Content/images/imagPublic/dux/d5.png" alt="Упражнение №27 Малый Маятник" title="Упражнение №27 Малый Маятник" />
<p>Упражнение №27. ‘Малый Маятник’’. Три последующих упражнения повторяют в миниатюре движения ‘большого маятника’, только предназначены для шейного отдела позвоночника. осторожные движения головы в сторону, стараясь коснуться ухом плеча (это не самоцель &ndash; просто понемногу увеличивайте амплитуду). Голова в сторону &ndash; вдох, ‘нюхая воздух’, выдох свободный в вертикальном положении. Плечи не поднимать.</p>

<img src="~/Content/images/imagPublic/dux/d6.png" alt="Упражнение №28 Вертикальный ‘Малый маятник’" title="Упражнение №28 Вертикальный ‘Малый маятник’" />
<p>Упражнение №28. Вертикальный ‘Малый маятник’. Наклоны головы вперед-назад, предел амплитуды &ndash; упор подбородка в грудь. Вдох ‘нюхая воздух’ попеременно ‘с пола’ и ‘с потолка’, выдох свободный в вертикальном положении. Темп движений медленный, растягивать мышцы шеи осторожно. Число повторений то же.</p>

<img src="~/Content/images/imagPublic/dux/d7.png" alt="Упражнение №29 Повороты головы в сторону, вдох ‘нюхая воздух со стороны’" title="Упражнение №29 Повороты головы в сторону, вдох ‘нюхая воздух со стороны’" />
<p>Упражнение №29. Повороты головы в сторону, вдох ‘нюхая воздух со стороны’. Осторожные скручивающие движения шеей. Темп невысокий, амплитуда максимальна. Со временем можно усложнить упражнение, добавив в крайней точке медленный ‘кивок’ головой вниз &ndash; хорошо тянутся шейные мышцы. Выдох свободный, число повторений то же.</p>

<img src="~/Content/images/imagPublic/dux/d8.png" alt="Упражнение №30 Гармоничные плечи" title="Упражнение №30 Гармоничные плечи" />
<p>Упражнение №30. Гармоничные плечи’. Логичное добавление движений для грудного отдела. Сделать скрестное движение руками, обнимая себя за плечи &ndash; вдох, ‘нюхая воздух’. Затем выполнить скрестный мах руками за спиной на уровне талии &ndash; ‘обхватить себя за талию’, выполнить такой же вдох. Выдох свободный, в промежуточном положении. Число повторений то же.</p>
<p>Четко усвоив общие принципы дыхательной ГИМНАСТИКИ, очень просто придумывать и добавлять свои упражнения, подходящие лично для Вас &ndash; главное запомнить тактильные ощущения, возникающие при диафрагмальном дыхании. Большинство движений легко выполнимы при передвижении по комнате, между делом. Чем дольше вы будете правильно дышать, тем больше эффект. В идеале так надо дышать всегда.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_breathing_exercises" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/Lifego/Breathing_exercises", data_mytitle = "Дыхательные упражнения" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/Lifego/Massage", data_mytitle = "Массаж" })
