@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_Thai_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/Thai_massage", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_pelvic_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Pelvic_massage", myTitle = "" })

<h1>Массаж ног</h1>

<p>При переходе к ногам, стоит немного внимания уделить большим ягодичным мышцам и крестцовому отделу позвоночника. Глубокими приемами классического массажа разогревается нижняя часть ног, сами ягодичные мышцы и смежный участок спины. Надавливающими движениями основаниями ладоней (‘бабочкой’) проминаем ноги до ступней, затем ступни разминаются об поверхность основания с разворотом их наружу и внутрь. Выполнить глубокое дренирование мышц задней поверхности бедра, голени, встряхивания и поколачивания их. Согнуть ногу в колене, поднять голень вертикально, уложить руку в подколенный сгиб. Проводить легкое сгибание коленного сустава через руку, вытягивание его на себя. Так же с этого положения можно проводить покачивающие движения голенью из стороны в сторону и по кругу. Тщательно проработать стопы ног (так же как кисти рук), на них находится огромное количество активных точек, проецируются все основные органы тела. Правила работы такие же, как и с кистями рук (дренирование суставных промежутков, растягивание пальцев, вращение разогретых стоп), но степень воздействия сильнее, пальцами и гребнем кулака, а так же постукивание кулаком по подошве.</p>

<img src="~/Content/images/imagPublic/dubl/3_1.png" alt="Массаж ног" title="Массаж ног" />
<img src="~/Content/images/imagPublic/dubl/3_2.png" alt="Массаж ног" title="Массаж ног" />
<img src="~/Content/images/imagPublic/dubl/3_3.png" alt="Массаж ног" title="Массаж ног" />
<img src="~/Content/images/imagPublic/dubl/3_4.png" alt="Массаж ног" title="Массаж ног" />
<img src="~/Content/images/imagPublic/dubl/3_5.png" alt="Массаж ног" title="Массаж ног" />
<img src="~/Content/images/imagPublic/dubl/3_6.png" alt="Массаж ног" title="Массаж ног" />
<img src="~/Content/images/imagPublic/dubl/3_7.png" alt="Массаж ног" title="Массаж ног" />
<p>Следующие движения имеют целью воздействовать на ноги, глубинные мышцы малого таза, брюшного пресса и нижний отдел позвоночника. При растягивании прямой ноги и ее встряхивании, особое внимание пациента надо обратить на ее расслабление т.к. она часто автоматически напрягается и ее снова и снова приходится немного сгибать, заставляя ‘сбросить’ напряжение. Приподнимая под колено согнутую ногу, легко можно воздействовать не только на бедро, но и на живот. Помнить надо только, что при поражении позвоночника надо ограничить воздействие на его прогиб(!), не позволяя отрываться животу от опорной поверхности. Производится также отведение прямой ноги в сторону, легкие выкручивающие движения ее внутрь и наружу, достаточно осторожные и постепенные. Цель та же &ndash; обработать тазобедренный сустав, растянуть мышцы и связки ноги и малого таза. </p>

<img src="~/Content/images/imagPublic/dubl/3_8.png" alt="Массаж ног" title="Массаж ног" />
<img src="~/Content/images/imagPublic/dubl/3_9.png" alt="Массаж ног" title="Массаж ног" />
<p>В позе ‘ползания по-пластунски’ происходит обработка крестца и наружной поверхности бедра &ndash; шаги основанием ладоней и надавливание локтем. Эта поза резко выделяет тазобедренный сустав, позволяя проработать его пальцами почти в полном объеме. Удерживая ноги за ступни в этой же позе, массажист может выполнять разминающие шаги и встряхивания мышц задней поверхности бедра, растягивание коленного сустава (очень полезно при ишиасе и травмах коленного сустава).</p>

<img src="~/Content/images/imagPublic/dubl/3_10.png" alt="Массаж ног" title="Массаж ног" />
<p>Затем проводят растягивание и плавное встряхивание за обе ноги одновременно. Цель та же самая &ndash; расслабить и растянуть ноги и нижний отдел позвоночника. Живот пациента не должен отрываться от опоры. массажист должен выполнять движение при расслабленных, прямых руках, за счет силы ног, спины, просто немного отклоняясь назад. Утомления быть не должно.</p>

<img src="~/Content/images/imagPublic/dubl/3_11.png" alt="Массаж ног" title="Массаж ног" />
<p>Подвести колени под таз пациента. Зависшие ноги и нижний отдел позвоночника позволяют провести глубокую проработку крестца, поясницы, тазобедренных суставов. Очень эффективная поза для использования лечебных мазей. Можно, конечно, использовать валик, но колени позволяют чутко реагировать на болевые ощущения пациента.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_Thai_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/Thai_massage", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_pelvic_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Pelvic_massage", myTitle = "" })
