    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://webmvc.ru/Lifego/Special", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_all" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://webmvc.ru/Lifego/All", myTitle = "" })

    <h1>Методические Рекомендации Двигательного Режима в Остром Периоде</h1>

    <p></p>

    <p> В <strong>Остром Периоде</strong> при наличии острых болей следует соблюдать строгий <u>постельный режим</u>. ЛФК применяется главным образом с гигиенической целью и носит общеукрепляющий характер. При движениях нижними конечностями не допускать увеличения поясничного лордоза, что может усилить болевой синдром. В этом плане при выполнении физических упражнений следует подложить под голени мягкий валик.</p>

    <p> На <strong>Втором Этапе Острого Периода</strong> при <strong><em>некотором</em></strong> <strong><em>снижении</em></strong> интенсивности болей следует осторожно включать <strong><em>изометрические</em></strong> (статические, не прогибая позвоночник) упражнения для тренировки мышц брюшного пресса и больших ягодичных мышц.</p>

    <p> Упражнения, вызывающие боль, следует ограничить по амплитуде, степени мышечного напряжения или исключить совсем. Не делать упражнения через боль! Количество повторения каждого упражнения 8-10 раз. Темп выполнения упражнений - медленный.</p>

    <p></p>

    <p><strong> Методические Рекомендации Двигательного Режима </strong></p>

    <p><strong> во Втором (<em>Подостром</em>) Периоде</strong></p>

    <p></p>

    <p> С уменьшением болевого синдрома возможности применения специальных и <em>обще</em>развивающих упражнений увеличиваются. В этом периоде кроме упражнений, увеличивающих силу мышц брюшного пресса и мышц-разгибателей бедра, большое значение приобретают упражнения, <strong><em>кифозирующие</em></strong> поясничный отдел позвоночника (№ 7, 8, 10, 11, 13, 15, 22, 23).</p>

    <p> При выборе как специальных, так и <em>обще</em>развивающих упражнений важно проследить за тем, чтобы они не увеличивали поясничный лордоз. Болевые ощущения являются <strong>Сигналом</strong> к изменению структуры упражнения (в сторону облегчения) или к исключению его.</p>

    <p> В конце второго периода следует постепенно включать упражнения, увеличивающие силу мышц спины. Упражнения № 7, 6, 9 и 10 можно выполнять по круговой системе 2-3 раза. Они являются наиболее важными.</p>

    <p> Количество повторений специальных упражнений довести до 15-50 раз. Темп выполнения упражнений можно постепенно увеличивать.</p>

    <p> Еще раз следует напомнить: упражнения <strong>не должны вызывать боль</strong>!</p>

    <p></p>

    <p><strong>Методические Рекомендации Третьего Периода</strong></p>

    <p><strong>(<em>Ремиссия</em>)</strong></p>

    <p></p>

    <p>В этом периоде к задачам и методическим особенностям второго периода добавляется задача увеличения <strong><em>Подвижности Позвоночного Столба</em></strong>. Однако</p>

    <p>упражнения, направленные на решение этой задачи, следует проводить <strong><em>Осторожно </em></strong>и в облегченных исходных положениях. Следует добиваться <strong>автоматизма</strong> (<strong>рефлекторности</strong>) поддержания специфической осанки в положении стоя и в ходьбе, когда поясничный отдел позвоночника <strong><em>кифозирован</em></strong>.</p>

    <p> Количество повторений специальных упражнений второго периода увеличиваются <strong><em><u>до 50-100 раз</u> </em></strong>(можно <strong>в разбивку</strong> в течение дня). Из других средств ЛФК следует признать целесообразным применение тех, которые не будут воздействовать в отрицательном плане на дегенерированные диски: <strong><em>плавание</em></strong>, терренкур (пешие прогулки), лыжи, бегущая дорожка, велоэргометр, <strong><em>упражнения</em></strong> <strong><em>с</em></strong> <strong><em>резиновым</em></strong> <strong><em>бинтом</em></strong>. Применять такие средства как волейбол, теннис (большой и малый), дорожный велосипед, бег по пересеченной местности, быстрые танцы, ритмическую гимнастику следует <strong><em>крайне</em></strong> <strong>Осторожно</strong>, т.к. резкие, часто не скоординированные движения и повороты могут <em>спровоцировать</em> <strong>обострение</strong> остеохондроза.</p>

    <p> Упражнения с гантелями предпочтительно выполнять в И.п. лежа (на спине, животе) для исключения вертикальных нагрузок на позвоночник.</p>

    <p> Следует признать нецелесообразным применение <strong>Чистого Виса</strong> для якобы растяжения поясничного отдела позвоночника. Препятствием этому служит мощное напряжение растянутых мышц туловища. (Редкий человек может <strong>Сочетать</strong> повышенную <strong>Физическую Активность</strong> при удержании веса своего тела с полным <strong>Расслаблением</strong> позвоночника. Если же вы из тех, кто может это сделать, помните, что при <em>соскоке</em> с перекладины возможна травма &ndash; <strong>пользуйтесь</strong> <strong>скамеечкой</strong>).</p>

    <p> Нежелательны также прыжки в глубину с возвышения, упражнения на гребном станке, метания. В любом случае при занятиях ЛФК следует помнить, что постоянная микротравма и перегрузка позвоночника, не скоординированные движения, толчки по оси позвоночника подготавливают соответствующий фон для разрыва дегенерированного диска и обострения болевого синдрома. Данные рекомендации необходимо учитывать <strong>при выборе</strong> средств и форм занятий физическими упражнениями на санаторном и поликлиническом занятии ЛФК.</p>

    <p> В <strong>Третьем Периоде</strong> рекомендуется применение <strong><em>Лечебной</em></strong> <strong><em>Гимнастики</em></strong> <strong><em>в</em></strong> <strong><em>Бассейне</em></strong>. Следует отметить, что Лечебная Гимнастика в Бассейне <strong><em>не</em></strong> <strong><em>заменяет</em></strong>, а <strong><em>дополняет</em></strong> основные <strong>&quot;сухие&quot;</strong> занятия Лечебной Гимнастикой.</p>

    <p></p>

    <p><strong>Ортопедическая Профилактика Остеохондроза Позвоночника</strong></p>

    <p></p>

    <p> С целью замедления дегенеративных процессов в позвоночнике, а также для профилактики рецидивов обострения болевого синдрома, рекомендуется соблюдать специфическую <strong><em>Осанку</em></strong> с <strong><em>кифозированным</em> </strong>положением поясничного отдела позвоночника в различных ситуациях при совершении бытовых, трудовых и иных видов деятельности. В профилактике остеохондроза позвоночника важная роль отводится уменьшению <em>микро</em> - и <em>макро</em>травматизации <em>меж</em>позвонковых дисков, а также статических и динамических перегрузок позвоночника.</p>

    <p> Следует признать особо неблагоприятным <strong>наклоны туловища вперед</strong> из положения стоя. При выпрямлении из этого положения возможен даже сдвиг дегенерированных позвонков относительно друг друга. В связи с этим наклоны вперед (особенно выполняемые <strong>с одновременным поворотом туловища</strong>), следует <strong>исключить</strong> как упражнение из регулярных занятий Лечебной Физкультурой.</p>

    <p> При выполнении бытовых работ, связанных с наклоном туловища <strong>вперед</strong> (стирка белья, полоскание, подметание и мытье полов), желательно разгружать позвоночник, имея под <strong><em>свободной </em></strong>рукой какую-либо <strong>опору</strong>. Для уборки квартиры при помощи пылесоса, желательно трубку пылесоса нарастить с таким расчетом, чтобы туловище не сгибалось вперед, т.к. в противном случае ритмичные движения в <strong><em>полу</em>наклоне вперед</strong> при работе с не переустроенным пылесосом вызовут перенапряжение позвоночника.</p>

    <p> Следует особо предостеречь от работ, связанных с напряженными <strong>однотипными движениями</strong> (особенно в <strong><em>полу</em>наклоне вперед</strong>), например: пилка и колка дров, садовые работы с лопатой и тяпкой, рывковые движения при перебрасывании тяжелых предметов, стирка на стиральной доске и т.п., т.к. нагрузки на позвонки, связки и мышцы резко возрастают.</p>

    <p> Особенно неблагоприятно отражается неправильное положение туловища и не скоординированная работа мышц при <strong>поднимании</strong> и <strong>переноске</strong> тяжестей. Наилучший вариант - <strong><em>выпрямленная</em></strong> спина, когда позвоночник прочно упирается в таз. В этом случае <em>меж</em>позвонковые диски нагружаются <strong><em>равномерно</em></strong> и не деформируются. Наряду с этим переноска и особенно подъем даже не очень тяжелого груза при <strong>согнутой</strong> спине (например, впереди себя и на вытянутых руках) нередко приводит к обострению.</p>

    <p> В таблицах даны рисунки <strong><em>Правильного</em></strong> (черное) и <strong><em>Неправильного</em></strong> (заштрихованное) <strong>положения туловища</strong> при подъеме и переноске тяжестей. Как видно из рисунков, при переноске тяжестей рекомендуется <strong><em>выпрямленное</em></strong> положение туловища. Груз при этом нужно держать, как можно <strong><em>ближе</em></strong> к туловищу. При поднятии тяжестей с земли нельзя наклоняться вперед и поднимать груз, выпрямляя туловище<strong><em>. Надо согнуть колени, присесть, оставляя спину прямой, и поднимать груз за счет выпрямления ног в коленях. </em></strong></p>

    <p> При езде в автомобиле под поясничный отдел подкладывается валик. И обязателен подголовник для избежания травматизации шейного отдела позвоночника при резких рывках автомобиля (&laquo;<em>хлысто</em>образная травма&raquo;).</p>

    <p> Зашнуровывая обувь, нужно встать на одно колено, <strong><em>коснуться туловищем бедра</em></strong> и только после этого зашнуровывать обувь.</p>

    <p> Однако и удобное положение тела может вызвать нежелательные изменения в позвоночнике, если профессиональная поза остается неизменной (<strong>Статической</strong>). Поэтому необходимо <strong><em>периодическое изменение положения тела во время работы</em></strong>. Например, в положении стоя - периодическая смена опоры одной ноги на скамеечку не только дает отдых ногам, но и способствует <strong><em>кифозированию</em></strong> поясничного отдела позвоночника в облегченных условиях. При транспортировке в лифте целесообразно принять облегчающую позу для снижения вертикальной нагрузки на дегенерированные диски при ускорениях и торможениях лифта. Эту позу рекомендуется принимать в течение дня насколько раз с выдержкой 10-60 секунд и как <strong>физическое упражнение</strong>.</p>

    <p> К профилактическим мероприятиям следует отнести и лечение положением. При достаточно высоком валике под голенями уменьшается поясничный лордоз,</p>

    <p>расслабляются напряженные мышцы, уменьшается давление <strong><em>на</em></strong> <strong><em>задние</em></strong> отделы дегенерированных дисков поясничного отдела позвоночника, снижается боль.</p>

    <p> После трудового дня целесообразно провести в этом положении в домашних условиях 30-60 мин перед сном.</p>

    <p> Нарастающая слабость (<strong><em>де</em>тренированность</strong>) мышц туловища <strong><em>у больных, не занимающихся Лечебной Гимнастикой, </em></strong>довольно обычное явление. Тренированный и хорошо развитый &laquo;<strong>Мышечный Корсет</strong>&raquo; туловища в значительной степени облегчает и разгружает &quot;<strong>Рессорный</strong>&quot; аппарат позвоночника. Упражнения, <strong><em>укрепляющие</em></strong> мышцы брюшного <strong><em>пресса</em></strong>, больших <strong><em>ягодичных</em></strong> мышц, мышц-разгибателей спины и тренировка поясничного <strong><em>кифозирования</em></strong> (особенно в положении стоя) должны стать <strong><u>Частью</u></strong> <strong>Двигательного <u>Режима</u></strong> больного и проводиться в <strong><u>Течение</u> всего дня</strong>.</p>

    <p> Несомненное влияние на перегрузки позвоночника оказывает нерационально подобранная рабочая мебель, особенно стулья. В этом аспекте целесообразно</p>

    <p>пользоваться стульями с невысоким сиденьем, с внутренним его наклоном и со слегка выпуклой спинкой на месте поясничного изгиба позвоночника. Лучше, если в положении сидя колени будут несколько выше тазобедренных суставов.</p>

    <p> Следует считать также <strong><em><u>целесообразным</u> ношение обуви на эластичной подошве</em></strong>, т.к. при этом снижается амортизационная перегрузка дегенерированных дисков. Не рекомендуется длительная езда в автомашине, особенно по неровным дорогам.</p>

    <p> Необходимо <strong><em>устранять</em></strong> факторы, <strong><em>увеличивающие</em></strong> поясничный <strong>лордоз</strong>: ношение обуви <strong><em>на</em> <em>высоких</em> каблуках</strong>, избыточный вес. <strong><em>Спать следует на твердом ложе</em></strong>, для чего используется деревянный щит и тонкий матрац.</p>

    <p> Постоянное ношение корсетов всех видов или пояса штангиста в ряде случаев дает хороший эффект (особенно при вынужденной повышенной <strong>Физической</strong> <strong>Нагрузке</strong> на позвоночник). Механическое ограничение подвижности позвоночника (особенно в поясничном отделе) имеет немаловажное значение для <strong>профилактики обострений</strong>, особенно при наличии нестабильности позвоночника, но это никак <strong><em>не</em></strong> <strong><em>избавляет</em></strong> от необходимости занятий ЛФК.</p>

    <p></p>

    <p></p>

    <p>Памятка подготовлена Инструктором ЛФК ЦКБ ЛОО при СМ СССР</p>

    <p>О.Б. Рубайловым</p>

    <p></p>

    <p>Под общей редакцией Зав. Отделением ЛФК В.И. Зубкова</p>

    <p></p>

    <p>Памятка размещена с любезного разрешения профессора Шмырева В.И.,</p>

    <p>Заведующего 1-го Неврологического Отделения ЦКБ МЦ Президента РФ.</p>


    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://webmvc.ru/Lifego/Special", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_all" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://webmvc.ru/Lifego/All", myTitle = "" })
