@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/Lifego/Special", data_mytitle = "Специальные упражнения" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_all" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/Lifego/All", data_mytitle = "Неправильная и правильная нагрузка на позвоночник" })

<h2>Методические рекомендации двигательного режима в остром периоде</h2>

<p></p>

<p> В остром периоде при наличии острых болей следует соблюдать строгий постельный режим. ЛФК применяется главным образом с гигиенической целью и носит общеукрепляющий характер. При движениях нижними конечностями не допускать увеличения поясничного лордоза, что может усилить болевой синдром. В этом плане при выполнении физических упражнений следует подложить под голени мягкий валик.</p>

<p> На втором этапе острого периода при некотором снижении интенсивности болей следует осторожно включать изометрические (статические, не прогибая позвоночник) упражнения для тренировки мышц брюшного пресса и больших ягодичных мышц.</p>

<p> Упражнения, вызывающие боль, следует ограничить по амплитуде, степени мышечного напряжения или исключить совсем. Не делать упражнения через боль! Количество повторения каждого упражнения 8-10 раз. Темп выполнения упражнений - медленный.</p>

<h2> Методические рекомендации двигательного режима во втором (подостром) периоде </h2>

<p> С уменьшением болевого синдрома возможности применения специальных и общеразвивающих упражнений увеличиваются. В этом периоде кроме упражнений, увеличивающих силу мышц брюшного пресса и мышц-разгибателей бедра, большое значение приобретают упражнения, кифозирующие поясничный отдел позвоночника (№ 7, 8, 10, 11, 13, 15, 22, 23).</p>

<p> При выборе как специальных, так и общеразвивающих упражнений важно проследить за тем, чтобы они не увеличивали поясничный лордоз. Болевые ощущения являются Сигналом к изменению структуры упражнения (в сторону облегчения) или к исключению его.</p>

<p> В конце второго периода следует постепенно включать упражнения, увеличивающие силу мышц спины. Упражнения № 7, 6, 9 и 10 можно выполнять по круговой системе 2-3 раза. Они являются наиболее важными.</p>

<p> Количество повторений специальных упражнений довести до 15-50 раз. Темп выполнения упражнений можно постепенно увеличивать.</p>

<p> Еще раз следует напомнить: упражнения не должны вызывать боль!</p>

<h2>Методические рекомендации третьего периода (ремиссия) </h2>

<p>В этом периоде к задачам и методическим особенностям второго периода добавляется задача увеличения подвижности позвоночного столба. Однако упражнения, направленные на решение этой задачи, следует проводить осторожно и в облегченных исходных положениях. Следует добиваться автоматизма (рефлекторности) поддержания специфической осанки в положении стоя и в ходьбе, когда поясничный отдел позвоночника кифозирован. </p>

<p> Количество повторений специальных упражнений второго периода увеличиваются до 50-100 раз (можно в разбивку в течение дня). Из других средств ЛФК следует признать целесообразным применение тех, которые не будут воздействовать в отрицательном плане на дегенерированные диски: плавание, терренкур (пешие прогулки), лыжи, бегущая дорожка, велоэргометр, упражнения с резиновым бинтом. Применять такие средства как волейбол, теннис (большой и малый), дорожный велосипед, бег по пересеченной местности, быстрые танцы, ритмическую гимнастику следует крайне Осторожно, т.к. резкие, часто не скоординированные движения и повороты могут спровоцировать обострение остеохондроза.</p>

<p> Упражнения с гантелями предпочтительно выполнять в исходном положении лежа (на спине, животе) для исключения вертикальных нагрузок на позвоночник.</p>

<p> Следует признать нецелесообразным применение чистого виса для якобы растяжения поясничного отдела позвоночника. Препятствием этому служит мощное напряжение растянутых мышц туловища (редкий человек может сочетать повышенную физическую активность при удержании веса своего тела с полным расслаблением позвоночника. Если же вы из тех, кто может это сделать, помните, что при соскоке с перекладины возможна травма &ndash; пользуйтесь скамеечкой).</p>

<p> Нежелательны также прыжки в глубину с возвышения, упражнения на гребном станке, метания. В любом случае при занятиях ЛФК следует помнить, что постоянная микротравма и перегрузка позвоночника, не скоординированные движения, толчки по оси позвоночника подготавливают соответствующий фон для разрыва дегенерированного диска и обострения болевого синдрома. Данные рекомендации необходимо учитывать при выборе средств и форм занятий физическими упражнениями на санаторном и поликлиническом занятии ЛФК.</p>

<p> В третьем периоде рекомендуется применение лечебной гимнастики в бассейне. Следует отметить, что лечебная гимнастика в бассейне не заменяет, а дополняет основные &quot;сухие&quot; занятия лечебной гимнастикой.</p>

<h2>Ортопедическая профилактика остеохондроза позвоночника</h2>

<p> С целью замедления дегенеративных процессов в позвоночнике, а также для профилактики рецидивов обострения болевого синдрома, рекомендуется соблюдать специфическую осанку с кифозированным положением поясничного отдела позвоночника в различных ситуациях при совершении бытовых, трудовых и иных видов деятельности. В профилактике остеохондроза позвоночника важная роль отводится уменьшению микро- и макротравматизации межпозвонковых дисков, а также статических и динамических перегрузок позвоночника.</p>

<p> Следует признать особо неблагоприятным наклоны туловища вперед из положения стоя. При выпрямлении из этого положения возможен даже сдвиг дегенерированных позвонков относительно друг друга. В связи с этим наклоны вперед (особенно выполняемые с одновременным поворотом туловища), следует исключить как упражнение из регулярных занятий лечебной физкультурой.</p>

<p> При выполнении бытовых работ, связанных с наклоном туловища вперед (стирка белья, полоскание, подметание и мытье полов), желательно разгружать позвоночник, имея под свободной рукой какую-либо опору. Для уборки квартиры при помощи пылесоса, желательно трубку пылесоса нарастить с таким расчетом, чтобы туловище не сгибалось вперед, т.к. в противном случае ритмичные движения в полунаклоне вперед при работе с не переустроенным пылесосом вызовут перенапряжение позвоночника.</p>

<p> Следует особо предостеречь от работ, связанных с напряженными однотипными движениями (особенно в полунаклоне вперед), например: пилка и колка дров, садовые работы с лопатой и тяпкой, рывковые движения при перебрасывании тяжелых предметов, стирка на стиральной доске и т.п., т.к. нагрузки на позвонки, связки и мышцы резко возрастают.</p>

<p> Особенно неблагоприятно отражается неправильное положение туловища и не скоординированная работа мышц при поднимании и переноске тяжестей. Наилучший вариант - выпрямленная спина, когда позвоночник прочно упирается в таз. В этом случае межпозвонковые диски нагружаются равномерно и не деформируются. Наряду с этим переноска и особенно подъем даже не очень тяжелого груза при согнутой спине (например, впереди себя и на вытянутых руках) нередко приводит к обострению.</p>

<p> В таблицах даны рисунки правильного (черное) и неправильного (заштрихованное) положения туловища при подъеме и переноске тяжестей. Как видно из рисунков, при переноске тяжестей рекомендуется выпрямленное положение туловища. Груз при этом нужно держать, как можно ближе к туловищу. При поднятии тяжестей с земли нельзя наклоняться вперед и поднимать груз, выпрямляя туловище. Надо согнуть колени, присесть, оставляя спину прямой, и поднимать груз за счет выпрямления ног в коленях. </p>

<p> При езде в автомобиле под поясничный отдел подкладывается валик. И обязателен подголовник для избежания травматизации шейного отдела позвоночника при резких рывках автомобиля (‘хлыстообразная травма’).</p>

<p> Зашнуровывая обувь, нужно встать на одно колено, коснуться туловищем бедра и только после этого зашнуровывать обувь.</p>

<p> Однако и удобное положение тела может вызвать нежелательные изменения в позвоночнике, если профессиональная поза остается неизменной (статической). Поэтому необходимо периодическое изменение положения тела во время работы. Например, в положении стоя - периодическая смена опоры одной ноги на скамеечку не только дает отдых ногам, но и способствует кифозированию поясничного отдела позвоночника в облегченных условиях. При транспортировке в лифте целесообразно принять облегчающую позу для снижения вертикальной нагрузки на дегенерированные диски при ускорениях и торможениях лифта. Эту позу рекомендуется принимать в течение дня насколько раз с выдержкой 10-60 секунд и как физическое упражнение.</p>

<p> К профилактическим мероприятиям следует отнести и лечение положением. При достаточно высоком валике под голенями уменьшается поясничный лордоз, расслабляются напряженные мышцы, уменьшается давление на задние отделы дегенерированных дисков поясничного отдела позвоночника, снижается боль.</p>

<p> После трудового дня целесообразно провести в этом положении в домашних условиях 30-60 мин перед сном.</p>

<p> Нарастающая слабость (детренированность) мышц туловища у больных, не занимающихся лечебной гимнастикой, довольно обычное явление. Тренированный и хорошо развитый ‘мышечный корсет’ туловища в значительной степени облегчает и разгружает &quot;рессорный&quot; аппарат позвоночника. Упражнения, укрепляющие мышцы брюшного пресса, больших ягодичных мышц, мышц-разгибателей спины и тренировка поясничного кифозирования (особенно в положении стоя) должны стать частью двигательного режима больного и проводиться в течение всего дня.</p>

<p> Несомненное влияние на перегрузки позвоночника оказывает нерационально подобранная рабочая мебель, особенно стулья. В этом аспекте целесообразно пользоваться стульями с невысоким сиденьем, с внутренним его наклоном и со слегка выпуклой спинкой на месте поясничного изгиба позвоночника. Лучше, если в положении сидя колени будут несколько выше тазобедренных суставов.</p>

<p> Следует считать также целесообразным ношение обуви на эластичной подошве, т.к. при этом снижается амортизационная перегрузка дегенерированных дисков. Не рекомендуется длительная езда в автомашине, особенно по неровным дорогам.</p>

<p> Необходимо устранять факторы, увеличивающие поясничный лордоз: ношение обуви на высоких каблуках, избыточный вес. Спать следует на твердом ложе, для чего используется деревянный щит и тонкий матрац.</p>

<p> Постоянное ношение корсетов всех видов или пояса штангиста в ряде случаев дает хороший эффект (особенно при вынужденной повышенной физической нагрузке на позвоночник). Механическое ограничение подвижности позвоночника (особенно в поясничном отделе) имеет немаловажное значение для профилактики обострений, особенно при наличии нестабильности позвоночника, но это никак не избавляет от необходимости занятий ЛФК.</p>

<p class="centeralign">Памятка подготовлена инструктором ЛФК ЦКБ ЛОО при СМ СССР</p>

<p class="centeralign">О.Б. Рубайловым</p>

<p class="centeralign">Под общей редакцией зав. отделением ЛФК В.И. Зубкова</p>

<p class="centeralign">Памятка размещена с любезного разрешения профессора Шмырева В.И., заведующего 1-го неврологического отделения ЦКБ МЦ Президента РФ.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_special" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/Lifego/Special", data_mytitle = "Специальные упражнения" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_all" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/Lifego/All", data_mytitle = "Неправильная и правильная нагрузка на позвоночник" })
