    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Abdominal_massage", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_conclusion" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Conclusion", myTitle = "" })

    <h1>Массаж шеи</h1>
    <p><strong>При Проблемах с Шейным и Грудным отделом Позвоночника можно добавить несколько упражнений в <u>Положении Сидя</u>.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_1.png"/>
    <p><strong>Согнув руку &laquo;Треугольником&raquo; (так же как и в положении Лежа), производить плавные, <em>Пружинящие</em> Отгибания его <u>назад</u>, затем <u>вбок</u>. Можно так же выполнять Движение Локтем <u>по <em>кругу</em></u>. Разумеется, <u>симметрично повторить для другой руки.</u></strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_2.png"/>
    <p><strong>В случае отсутствия болевых ощущений для &laquo;Продвинутых&raquo; Пациентов более Глубокое Отклонение можно проводить с упором <em>Локтя </em>Массажиста в Спину Пациента. Движения очень Эффективны, но выполнять надо Осторожно.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_3.png"/>
    <p><strong>Растягивание плеч &laquo;Бабочка&raquo; производится симметричными Движениями Предплечий Массажиста на себя, с упором грудью и животом в спину и шею Пациента. Как <em>Усложнение</em>, если позволяет позвоночник, можно проводить Скручивающее Движение плеч влево вправо Вокруг Оси Позвоночника, затем легкие Покачивающие Движения из стороны в сторону.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_4.png"/>
    <p><strong>Уложив прямую руку на бедро Массажиста, а <em>противо</em>положенную согнув &laquo;Треугольником&raquo; с Опорой Ладонью в боковую часть головы, нажимая на локоть Пациента и Вытягивая его за <em>Противо</em>положенное Плечо, производят осторожное <em>Растягивание</em> плеч, грудной клетки и боковой поверхности шеи. <u>Повторить симметрично в другую сторону.</u></strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_5.png"/>
    <p><strong><em>Глубокое </em></strong><strong>Растягивание Плеч можно проводить с помощью <u>Упора Стопами</u> между лопаток, вытягивая руки Пациента назад. Движение может быть весьма <em>Мощным</em>, поэтому соблюдать <em><u>Особую</u></em><u> Осторожность</u> в случае Травм или Хрупкого Сложения Пациента.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_6.png"/>
    <p><strong>Сцепив руки в &laquo;<em>Замок</em>&raquo; и упираясь Предплечьями в боковую поверхность головы и плечо Пациента, можно проводить осторожное Растягивание Шейных Мышц. <u>Симметрично повторить с другой стороны головы.</u></strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_7.png"/>
    <p><strong>Массажные движения, <em>сидя</em>, в положении &laquo;на Боку в позе <em>Эмбриона</em>&raquo; и т.п. являются <u>Производными</u> от Основных Движений в позе Лежа и могут применяться либо в <em>Стесненных</em>, &laquo;Походных&raquo; условиях, либо для <em>Специальных</em> Целей, для <em>Выделения</em> больного участка.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/6_8.png"/>
    <p><strong>Заканчивается Массаж так называемыми &laquo;<em>Связывающими</em>&raquo; движениями, т.е. движениями которые <em>Связывают </em>Тело Пациента в Единое <u>Целое</u>, позволяют <em><u>Почувствовать</u> </em>его Целиком. Выполняются плавные, длинные, Оглаживающие Движения ладонями вдоль всего Тела, окончательно Расслабляя и <em>Успокаивая</em> Пациента.</strong></p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Abdominal_massage", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_conclusion" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Conclusion", myTitle = "" })
