@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/abdominal_massage", data_mytitle = "Массаж живота" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_conclusion" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/conclusion", data_mytitle = "Заключение" })

<h1>Массаж шеи</h1>

<p>При проблемах с шейным и грудным отделом позвоночника можно добавить несколько упражнений в положении сидя.</p>

<img src="~/Content/images/imagPublic/dubl/6_1.png" alt="Массаж шеи" title="Массаж шеи" />
<p>Согнув руку ‘треугольником’ (так же как и в положении лежа), производить плавные, пружинящие отгибания его назад, затем вбок. Можно так же выполнять движение локтем по кругу. Разумеется, симметрично повторить для другой руки.</p>

<img src="~/Content/images/imagPublic/dubl/6_2.png" alt="Массаж шеи" title="Массаж шеи" />
<p>В случае отсутствия болевых ощущений для ‘продвинутых’ пациентов более глубокое отклонение можно проводить с упором локтя массажиста в спину пациента. Движения очень Эффективны, но выполнять надо осторожно.</p>

<img src="~/Content/images/imagPublic/dubl/6_3.png" alt="Массаж шеи" title="Массаж шеи" />
<p>Растягивание плеч ‘бабочка’ производится симметричными движениями предплечий массажиста на себя, с упором грудью и животом в спину и шею пациента. Как усложнение, если позволяет позвоночник, можно проводить скручивающее движение плеч влево вправо вокруг оси позвоночника, затем легкие покачивающие движения из стороны в сторону.</p>

<img src="~/Content/images/imagPublic/dubl/6_4.png" alt="Массаж шеи" title="Массаж шеи" />
<p>Уложив прямую руку на бедро массажиста, а противоположенную согнув ‘треугольником’ с опорой ладонью в боковую часть головы, нажимая на локоть пациента и вытягивая его за противоположенное плечо, производят осторожное растягивание плеч, грудной клетки и боковой поверхности шеи. Повторить симметрично в другую сторону.</p>

<img src="~/Content/images/imagPublic/dubl/6_5.png" alt="Массаж шеи" title="Массаж шеи" />
<p>Глубокое растягивание плеч можно проводить с помощью упора стопами между лопаток, вытягивая руки пациента назад. Движение может быть весьма мощным, поэтому соблюдать особую осторожность в случае травм или хрупкого сложения пациента.</p>

<img src="~/Content/images/imagPublic/dubl/6_6.png" alt="Массаж шеи" title="Массаж шеи" />
<p>Сцепив руки в ‘замок’ и упираясь предплечьями в боковую поверхность головы и плечо пациента, можно проводить осторожное растягивание шейных мышц. Симметрично повторить с другой стороны головы.</p>

<img src="~/Content/images/imagPublic/dubl/6_7.png" alt="Массаж шеи" title="Массаж шеи" />
<p>Массажные движения, сидя, в положении ‘на боку в позе эмбриона’ и т.п. являются производными от основных движений в позе лежа и могут применяться либо в стесненных, ‘походных’ условиях, либо для специальных целей, для выделения больного участка.</p>

<img src="~/Content/images/imagPublic/dubl/6_8.png" alt="Массаж шеи" title="Массаж шеи" />
<p>Заканчивается массаж так называемыми ‘связывающими’ движениями, т.е. движениями которые связывают тело пациента в единое целое, позволяют почувствовать его целиком. Выполняются плавные, длинные, оглаживающие движения ладонями вдоль всего тела, окончательно расслабляя и успокаивая пациента.</p>


@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/abdominal_massage", data_mytitle = "Массаж живота" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_conclusion" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/conclusion", data_mytitle = "Заключение" })
