    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_foot_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Foot_massage", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Abdominal_massage", myTitle = "" })

    <h1>Массаж таза</h1>
    <img src="~/Content/images/imagPublic/dubl/4_1.png"/>
    <p><strong>Из положения, лежа на Спине, согнув ногу в колене, производят <em>Покачивающие</em> Движения из стороны в сторону и <u>по кругу</u>, затем растягивают тазобедренный сустав за подколенный сгиб. Коленями <em>Фиксируют</em> стопу Пациента, чтобы нога не разгибалась.</strong></p>
    <p><strong> <em>Заваливая</em> согнутую ногу <u>внутрь</u> и <em>Выделяя</em> бедро, проводят Массаж поясничных мышц и <em>тазо</em>бедренного сустава, затем выполняют Шаги Основаниями Ладоней (Локтем) по <em>Внешней</em> стороне бедра. Соблюдать <u>Осторожность</u> &ndash; мышцы достаточно Растянуты, суставы выведены на <em>Предельные</em> углы.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_2.png" />
    <img src="~/Content/images/imagPublic/dubl/4_3.png"/>
    <p><strong>Удерживая стопу На Весу, еще раз провести обработку всей поверхности стопы надавливанием пальцами, затем выполнить легкие Постукивания по подошве Основанием Кулака.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_4.png"/>
    <p><strong>Удерживая согнутую ногу за стопу, своими Стопами провести мелкие <em>Разминающие</em> Шаги и Сотрясения задней поверхности бедра. С этого же положения, поддерживая стопу под Ахиллесово Сухожилие, можно проводить <em>Вращение</em> Стопы, а затем всей Голени вокруг коленного сустава.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_5.png"/>
    <p><strong>Упираясь Стопой в тазовую кость Под Ягодичной Складкой, производят <em>Вытягивание</em> ноги за стопу, дополняя в конце движения легким <em>Скручиванием</em> за стопу.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_6.png"/>
    <p><strong>Удерживая ногу кистями за Лодыжку, проводят вытягивающие, встряхивающие, скручивающие движения и осторожные <em>Отведения</em> ноги в сторону.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_7.png"/>
    <p><strong>Установив стопу Пациента <em>Максимально</em> Ближе к Паху, осторожными движениями за колено постараться перевести ногу в сторону, уложив колено на основание (Поза &laquo;Дерево&raquo;). В случае <em>Напряженности</em> приводящих мышц, выполнять разминающие движения Классического Массажа, постепенно <em>Увеличивая</em> Угол Отклонения ноги. Затем выполнять осторожные Шаги Основаниями Ладоней.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_8.png"/>
    <p><strong>Удерживая согнутую в сторону ногу за стопу, выполнять <em>Мелкие</em> Шаги своими Стопами по задней поверхности бедра и <em>Вытягивание</em> Коленного Сустава.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_9.png"/>
    <p><strong>Используя <em>Больше</em>берцовую кость <u>Как Рычаг</u>, провести Растягивающие, <em>Вращательные</em> Движения в <em>тазо</em>бедренном суставе, стараясь достичь Максимально <em>Возможной</em> Амплитуды. Все эти упражнения <u>симметрично выполняются для другой ноги</u>. </strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_10.png" />
    <img src="~/Content/images/imagPublic/dubl/4_11.png"/>
    <p><strong>Затем производят <em>Одновременное</em> Разведение ног в стороны в Позе &laquo;Дерево&raquo; (стопы вместе), с <em>Легким</em> Раскачиванием, Растягиванием <em>тазо</em>бедренных суставов. Упражнение выполняется весьма <em>Индивидуально</em>, Осторожно, особенно если есть <em>Проблемы</em> с <em>тазо</em>бедренными суставами, хотя все же это самые <em>Эффективные</em> Движения для Растягивания мышц Малого Таза (при установке <u>Протеза</u> <em>тазо</em>бедренного сустава они <em><u>Противопоказаны</u></em>). Затем производят Растягивание Нижнего Отдела Позвоночника за обе ноги <u>вместе</u>.</strong></p>
    <img src="~/Content/images/imagPublic/dubl/4_12.png"/>
    <p><strong>Подведя колени под таз Пациента, <em>Расслабив</em> На Весу его ноги и поясницу, проводят Массаж передней и боковой поверхности бедер и <em>тазо</em>бедренных суставов.</strong></p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_foot_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Lifego/Foot_massage", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/Abdominal_massage", myTitle = "" })
