@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_foot_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/Foot_massage", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Abdominal_massage", myTitle = "" })

<h1>Массаж таза</h1>

<img src="~/Content/images/imagPublic/dubl/4_1.png" alt="Массаж таза" title="Массаж таза" />
<p>Из положения, лежа на спине, согнув ногу в колене, производят покачивающие движения из стороны в сторону и по кругу, затем растягивают тазобедренный сустав за подколенный сгиб. Коленями фиксируют стопу пациента, чтобы нога не разгибалась.</p>
<p> Заваливая согнутую ногу внутрь и выделяя бедро, проводят массаж поясничных мышц и тазобедренного сустава, затем выполняют шаги основаниями ладоней (локтем) по внешней стороне бедра. Соблюдать осторожность &ndash; мышцы достаточно растянуты, суставы выведены на предельные углы.</p>

<img src="~/Content/images/imagPublic/dubl/4_2.png" alt="Массаж таза" title="Массаж таза" />
<img src="~/Content/images/imagPublic/dubl/4_3.png" alt="Массаж таза" title="Массаж таза" />
<p>Удерживая стопу на весу, еще раз провести обработку всей поверхности стопы надавливанием пальцами, затем выполнить легкие постукивания по подошве основанием кулака.</p>

<img src="~/Content/images/imagPublic/dubl/4_4.png" alt="Массаж таза" title="Массаж таза" />
<p>Удерживая согнутую ногу за стопу, своими стопами провести мелкие разминающие шаги и сотрясения задней поверхности бедра. С этого же положения, поддерживая стопу под ахиллесово сухожилие, можно проводить вращение стопы, а затем всей голени вокруг коленного сустава.</p>

<img src="~/Content/images/imagPublic/dubl/4_5.png" alt="Массаж таза" title="Массаж таза" />
<p>Упираясь стопой в тазовую кость Под ягодичной складкой, производят вытягивание ноги за стопу, дополняя в конце движения легким скручиванием за стопу.</p>

<img src="~/Content/images/imagPublic/dubl/4_6.png" alt="Массаж таза" title="Массаж таза" />
<p>Удерживая ногу кистями за лодыжку, проводят вытягивающие, встряхивающие, скручивающие движения и осторожные отведения ноги в сторону.</p>

<img src="~/Content/images/imagPublic/dubl/4_7.png" alt="Массаж таза" title="Массаж таза" />
<p>Установив стопу пациента максимально ближе к паху, осторожными движениями за колено постараться перевести ногу в сторону, уложив колено на основание (поза ‘дерево’). В случае напряженности приводящих мышц, выполнять разминающие движения классического массажа, постепенно увеличивая угол отклонения ноги. Затем выполнять осторожные шаги основаниями ладоней.</p>

<img src="~/Content/images/imagPublic/dubl/4_8.png" alt="Массаж таза" title="Массаж таза" />
<p>Удерживая согнутую в сторону ногу за стопу, выполнять мелкие шаги своими стопами по задней поверхности бедра и вытягивание коленного сустава.</p>

<img src="~/Content/images/imagPublic/dubl/4_9.png" alt="Массаж таза" title="Массаж таза" />
<p>Используя большеберцовую кость как рычаг, провести растягивающие, вращательные движения в тазобедренном суставе, стараясь достичь максимально возможной амплитуды. Все эти упражнения симметрично выполняются для другой ноги. </p>

<img src="~/Content/images/imagPublic/dubl/4_10.png" alt="Массаж таза" title="Массаж таза" />
<img src="~/Content/images/imagPublic/dubl/4_11.png" alt="Массаж таза" title="Массаж таза" />
<p>Затем производят одновременное разведение ног в стороны в позе ‘дерево’ (стопы вместе), с легким раскачиванием, растягиванием тазобедренных суставов. Упражнение выполняется весьма индивидуально, осторожно, особенно если есть проблемы с тазобедренными суставами, хотя все же это самые эффективные движения для растягивания мышц малого таза (при установке протеза тазобедренного сустава они противопоказаны). Затем производят растягивание нижнего отдела позвоночника за обе ноги вместе.</p>

<img src="~/Content/images/imagPublic/dubl/4_12.png" alt="Массаж таза" title="Массаж таза" />
<p>Подведя колени под таз пациента, расслабив на весу его ноги и поясницу, проводят массаж передней и боковой поверхности бедер и тазобедренных суставов.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_foot_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/Foot_massage", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_abdominal_massage" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Abdominal_massage", myTitle = "" })
