@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/acute_period3", data_mytitle = "Комплекс лечебной гимнастики острого периода" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_metodika" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/metodika", data_mytitle = "Двигательный режим острого периода" })

<h1>Специальные упражнения</h1>
<p>Рекомендуется для включения в комплекс лечебной гимнастики, применяемый в период ремиссии.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/1.png" />
<p>Кифозирование поясничного отдела позвоночника с фиксацией этого положения 10-60 сек.:</p>
<p> а) с опорой о стену; ноги на расстоянии 40 см от стены</p>
<p> б) в исходном положении стоя.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/2.png" />
<p>Исходное положение вис, стоя на гимнастической стенке, руки согнуты. Сгибая ноги, перейти в смешанный вис в приседе.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/3.png" />
<p>Исходное положение упор на коленях, ноги врозь. Переступая руками влево, согнуть туловище влево. То же в другую сторону.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/4.png" />
<p>Исходное положение стойка на коленях. Сед на бедро справа, руки влево. То же в другую сторону.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/5.png" />
<p>Исходное положение лежа, ноги согнуты вперед. Наклоны коленей влево и вправо.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/6.png" />
<p>Исходное положение лежа, ноги согнуты, руки за голову. Сесть - лечь.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/7.png" />
<p>Исходное положение вис сзади на гимнастической стенке. Одновременное сгибание ног вперед.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/8.png" />
<p>Исходное положение вис спереди на гимнастической стенке. С поворотом таза налево, согнуть ноги вперед. То же в другую сторону.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/9.png" />
<p>Исходное положение лежа на животе на гимнастической скамейке, руки за голову, ноги фиксированы. Разгибание туловища назад. Сильно не прогибаться!</p>
<img src="~/Content/images/imagPublic/attachment/3_period/10.png" />
<p>Исходное положение лежа, ноги прижаты к животу. Перекаты на спине вперед и назад.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/11.png" />
<p>Исходное положение вис, стоя на гимнастической стенке, руки согнуты. Сгибая правую ногу и выпрямляя руки, перейти в смешанный вис, присев на правой ноге. То же на другой ноге.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/12.png" />
<p>Исходное положение лежа на животе, руки под голову. Сгибая туловище влево, одновременное отведение ног влево. То же в другую сторону.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/13.png" />
<p>Исходное положение лежа на животе, на краю кушетки, ноги вниз, хват руками снизу за кушетку. Разгибание ног назад. Не прогибаться!</p>
<img src="~/Content/images/imagPublic/attachment/3_period/14.png" />
<p>Исходное положение лежа. Сгибаясь вперед, перейти в положение сед, ноги скрестно. Выполнять с опорой руками сзади и без опоры.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/15.png" />
<p>Исходное положение упор присев. Выпрямляя ноги, перейти в положение упор, стоя согнувшись.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/16.png" />
<p>Исходное положение упор лежа. Переступая руками назад, перейти в положение упор, стоя согнувшись.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/17.png" />
<p>Исходное положение стойка ноги врозь, руки к плечам. Сгибая левую ногу вправо вперед, коснуться правым локтем левого бедра. То же другой ногой.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/18.png" />
<p>Исходное положение лежа, руки вверх. Поднимая левую ногу вперед, коснуться правой рукой левой голени. То же другой ногой.</p>
<img src="~/Content/images/imagPublic/attachment/3_period/19.png" />
<p>Исходное положение лежа, ноги согнуты вперед, резиновый бинт фиксируется одним концом за голени, вторым - за гимнастическую стенку. Разгибание ног назад.</p>
<p>ХОДЬБА: на носках, на пятках, на наружном крае стоп, выпады с поворотами туловища влево и вправо, ходьба с высоким подниманием бедер, ходьба со сгибанием ног назад и т.д.</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/lifego/acute_period3", data_mytitle = "Комплекс лечебной гимнастики острого периода" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_metodika" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/lifego/metodika", data_mytitle = "Двигательный режим острого периода" })
