    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://webmvc.ru/Lifego/Acute_period3", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_metodika" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://webmvc.ru/Lifego/Metodika", myTitle = "" })

    <h1>СПЕЦИАЛЬНЫЕ УПРАЖНЕНИЯ</h1>
    <p><strong>рекомендуемые для включения в Комплекс Лечебной Гимнастики, применяемый в Период <em>Ремиссии</em>.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/1.png"/>
    <p><strong><em>Кифозирование</em> поясничного отдела позвоночника с <em>фиксацией этого положения </em>10-60 сек.:</strong></p>
    <p><strong> а) с опорой о стену; ноги на расстоянии 40 см от стены</strong></p>
    <p><strong> б) в И.п. стоя.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/2.png"/>
    <p><strong>И.п. <em>Вис</em>, стоя на гимнастической стенке, руки согнуты. Сгибая ноги, перейти в смешанный вис в приседе.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/3.png"/>
    <p><strong>И.п. упор на коленях, ноги врозь. Переступая руками влево, согнуть туловище влево. То же в другую сторону.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/4.png"/>
    <p><strong>И.п. стойка на коленях. <em>Сед </em>на бедро <em>справа</em>, руки влево. То же в другую сторону.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/5.png"/>
    <p><strong>И.п. лежа, ноги согнуты вперед. Наклоны коленей влево и вправо.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/6.png"/>
    <p><strong>И.п. лежа, ноги согнуты, руки за голову. Сесть - лечь.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/7.png"/>
    <p><strong>И.п. <em>Вис </em>сзади на гимнастической стенке. Одновременное <em>сгибание </em>ног вперед.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/8.png"/>
    <p><strong>И.п. <em>Вис </em>спереди на гимнастической стенке. С <em>поворотом таза </em>налево, согнуть ноги вперед. То же в другую сторону.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/9.png"/>
    <p><strong>И.п. лежа на животе на гимнастической скамейке, руки за голову, ноги фиксированы. <em>Разгибание туловища </em>назад. Сильно не прогибаться!</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/10.png"/>
    <p><strong>И.п. лежа, ноги прижаты к животу. <em>Перекаты </em>на спине вперед и назад.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/11.png"/>
    <p><strong>И.п. <em>Вис</em>, стоя на гимнастической стенке, руки согнуты. Сгибая правую ногу и выпрямляя руки, перейти в смешанный вис, присев на правой ноге. То же на другой ноге.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/12.png"/>
    <p><strong>И.п. лежа на животе, руки под голову. Сгибая туловище влево, одновременное отведение ног влево. То же в другую сторону.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/13.png"/>
    <p><strong>И.п. лежа на животе, на краю кушетки, ноги вниз, хват руками снизу за кушетку. <em>Разгибание </em>ног назад. Не прогибаться!</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/14.png"/>
    <p><strong>И.п. лежа. Сгибаясь вперед, <em>перейти </em>в положение сед, ноги скрестно. Выполнять с опорой руками сзади и без опоры.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/15.png"/>
    <p><strong>И.п. упор присев. Выпрямляя ноги, <em>перейти </em>в положение упор, стоя согнувшись.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/16.png"/>
    <p>И.п. упор лежа. Переступая руками назад, <em><strong>перейти</strong> </em>в положение упор, стоя согнувшись.</p>
    <img src="~/Content/images/imagPublic/attachment/3_period/17.png"/>
    <p><strong>И.п. стойка ноги врозь, руки к плечам. Сгибая левую ногу вправо вперед, коснуться правым <em>локтем </em>левого <em>бедра</em>. То же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/18.png"/>
    <p><strong>И.п. лежа, руки вверх. Поднимая левую ногу вперед, <em>коснуться </em>правой рукой левой голени. То же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/3_period/19.png"/>
    <p><strong>И.п. лежа, ноги согнуты вперед, резиновый бинт фиксируется одним концом за голени, вторым - за гимнастическую стенку. <em>Разгибание </em>ног назад.</strong></p>
    <p><em>ХОДЬБА</em>: на носках, на пятках, на наружном крае стоп, выпады с поворотами туловища влево и вправо, ходьба с высоким подниманием бедер, ходьба со сгибанием ног назад и т.д.</p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period3" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://webmvc.ru/Lifego/Acute_period3", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_metodika" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://webmvc.ru/Lifego/Metodika", myTitle = "" })
