@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "Spa/_spa" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Spa/Spa", myTitle = "Предисловия не читают" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "Spa/_globalIssues" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Spa/GlobalIssues", myTitle = "Вопросы глобальные" })

<h1>Эта информация для вас</h1>

<p>Если вы активно ищете информацию для того, чтобы изменить не устраивающую вас ситуацию, касающуюся вашего здоровья и самочувствия.</p>

<p>Если вы поставлены судьбой в сложное положение – травмированы, прикованы к постели или стараетесь выйти из этого (или подобного) состояния (реабилитироваться).</p>

<p>Если вы имеете проблемы опорно-двигательного аппарата (в частности, остеохондроз) и, вообще, те заболевания, где официальная медицина говорит о нарушении обмена веществ (болезни ‘состояния’ – МКБ, ЖКБ, сахарный диабет, избыток веса, артрит, ВСД и т.д.).</p>

<p>Если вы постоянно ‘носите бетонную плиту на плечах’ т.е. то, что сегодня называют синдромом хронической усталости (СХУ).</p>

<p>Если вы хотите нормализовать физическое состояние своего тела, естественным путем избавиться от депрессии, но не знаете, где взять для этого силы.</p>

<p>Если хотите улучшить степень подвижности суставов, позвоночника, общее самочувствие, а главное – научиться контролировать это состояние и сохранять его.</p>

<p>Если вы готовы ‘продраться’ через довольно нудную вводную часть, отследить процесс построения системы физической активности (СФА) и попробовать применить ее на практике.</p>

<p>Если вы читали (и использовали) предыдущую работу ‘Жизнь это движение’ (и удовлетворены достигнутым результатом) и ждете обещанного (для тех людей, с кем общался лично) продолжения.</p>

<p>Тогда вы смело можете переворачивать страницу.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "Spa/_spa" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/Spa/Spa", myTitle = "Предисловия не читают" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "Spa/_globalIssues" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Spa/GlobalIssues", myTitle = "Вопросы глобальные" })

