@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "spa/PHIZ/_biomechanics" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/spa/biomechanics", data_mytitle = "Биомеханика" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "spa/PHIZ/_effects_of_injury" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/spa/effects_of_injury", data_mytitle = "Последствия травмы" })

<h1>Банальные истины</h1>
<p>Основные вопросы принадлежат к трем группам:</p>
<p>1. Объяснить уже написанное (если непонятно).</p>
<p>2. Почему здесь нет именно моего случая (я бы с удовольствием почитал)?</p>
<p>3. Что делать дальше?</p>
<p>Все три вопроса задаются постоянно, в различных комбинациях, при попытке активно воздействовать на свое тело физической нагрузкой. Но отвечать конкретно каждому очень накладно, невозможно из-за временных ограничений, да и не охватишь всех желающих…</p>
<p>Поэтому (раз уж вы вытерпели кучу банальностей и дочитали до этого места), попробуем еще раз прибегнуть к методу расширения проблемы. Дело в том, что проблема эта довольно обычна при ‘напутствии’ массажиста (или инструктора ЛФК) - пациент хочет получить долговременный прогноз своего здоровья, инструкции по продолжению занятий и поддержания достигнутого состояния, самочувствия (которые, разумеется, очень быстро забываются).</p>
<p>Решая эту проблему и объясняя ее особенности пациенту (партнеру), руководствуешься некими общими принципами, системой. Вычленить эти составляющие довольно сложно, но, изливая информацию на бумагу, волей-неволей приходится ее систематизировать, ‘раскладывать по полочкам’. Именно в таком виде информацию легче усваивает и запоминает человеческий мозг. А так как массив информации придется ‘перелопатить’ немалый, то систематизация ее позволит и легче усвоить новые (и старые) истины, и применять на практике полученные знания для решения конкретных (или вновь возникающих) проблем.</p>
<p>Конечно, владение информацией еще не является решением проблемы, но ‘предупрежден - наполовину победил’. И, разумеется, все, что будет сказано дальше, рассчитано на доброжелательное отношение - ведь мы ‘по одну сторону баррикады’. Я никогда не искал встреч с людьми, находящимися, мягко говоря, в ‘затруднительном положении’ в отношении собственного здоровья - они находили и приходили (в лучшем случае своими ногами) ко мне сами. Но результативность всего происходящего после этого, обычно зависела от соответствующего настроя на победу, притом основой этого было взаимопонимание и банальная работа (т.е. Движение).</p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "spa/PHIZ/_biomechanics" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/spa/biomechanics", data_mytitle = "Биомеханика" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "spa/PHIZ/_effects_of_injury" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/spa/effects_of_injury", data_mytitle = "Последствия травмы" })


