@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "spa/_balanced_diet" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/spa/balanced_diet", data_mytitle = "Баланс питания" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "spa/PHIZ/_health_education" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/health_education/", data_mytitle = "Воспитание здоровья" })

<h1>СФА - система физической активности </h1>

<p>Человеку (и человечеству) свойственно мечтать. В детстве – это сказки, волшебство и пр. Во взрослом состоянии - магия, религия, зачастую медицина и наука (с той точки зрения, с которой они представляются простому обывателю). Мечтать просто и приятно - энергии тратится минимум, а на выходе - яркие положительные ощущения…</p>

<p>Собственно, я не против - мечтать нужно и полезно, с этого всегда начинается движение вперед. Для взрослого, деятельного человека свойственна цепочка:</p>

<p>1. Мечта (мысль) 2. Действие 3. Исполнение мечты (достижение цели, награда, удовольствие)</p>

<h2>Жизнь – это движение</h2>

<p>Если же из цепочки убрать среднее звено – ‘действие’, то мечты ‘закорачиваются’ на удовольствие напрямую, т.е. человеку свойственно желать достичь своих целей с минимальным приложением усилий (в идеале - ‘не прикладывая рук’). С инфантильным, сказочным отношением к жизни человек расстается очень неохотно, часто мысленно убегает ‘в себя’ от грубой реальности. С желанием получать удовольствие, сильные положительные ощущения, напрямую, минуя действие, часто связано вызывание приятных эмоций химическим способом - через алкоголь, наркотические и психотропные вещества. При этом человек очень быстро теряет интерес к ‘среднему звену’ цепочки - реальному действию, живет в иллюзорном мире собственных ощущений, с реальностью его связывает только необходимость добыть очередную ‘дозу’. Такую же зависимость может вызывать привычка ‘уходить’ в виртуальный (компьютерный) мир, мир игровых автоматов и пр.</p>

<p>Нормальный человек очень быстро понимает, что это тупиковый путь развития, он не хочет отказываться от ‘среднего звена’, потому что действие, движение - это и есть, по большому счету, сама жизнь.</p>

<p>Вот только, когда это касается собственного тела (читай – ‘здоровья’), мы почему-то очень быстро скатываемся к детскому мироощущению, отказываемся от ‘среднего звена’, от физической работы, нормальной ‘жизненной’ нагрузки на тело. Нам желательно иметь здоровое тело немедленно и без усилий…</p>

<p>Никто и ничто (‘не бог, не царь и не герой…’, а так же сказки, волшебство, магия, медицина, народные целители, чудо-лекарства и пр. и пр.) не заменит вам нормальной физической работы со своим телом. Точка.</p>

<p>Я все сказал... Больше к этому я не буду возвращаться, и уговаривать тоже никого больше не буду. Информация априорна, свои мозги не вставишь - каждый решает для себя сам. </p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "spa/_balanced_diet" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/spa/balanced_diet", data_mytitle = "Баланс питания" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "spa/PHIZ/_health_education" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/health_education/", data_mytitle = "Воспитание здоровья" })
