@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "spa/PHIZ/" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/spa/", data_mytitle = "" })
@*@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "spa/PHIZ/" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/spa/", data_mytitle = "" })*@

<h1></h1>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "spa/PHIZ/" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://spalpu.ru/spa/", data_mytitle = "" })
@*@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "spa/PHIZ/" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://spalpu.ru/spa/", data_mytitle = "" })*@
