    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_attachment" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "back" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period2" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "forward" })

    <h1>Примерный Комплекс Лечебной Гимнастики, применяемый в <em>Остром</em> Периоде (Начальный Этап)</h1>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/1.png" />
    <p><strong>И.п. лежа. Сгибание и разгибание стоп и пальцев кистей в кулак.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/2.png" />
    <p><strong>И.п. лежа, левая нога согнута в колене. Сгибание и разгибание правой ноги, скользя пяткой по постели. После 8-10 повторений - то же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/3.png" />
    <p><strong>И.п. лежа. Поочередные поднимания рук вверх.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/4.png" />
    <p><strong>И.п. лежа, левая нога согнута в колене. Отведение правой ноги в сторону. После 8-10 повторений - то же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/5.png" />
    <p><strong>И.п. лежа, руки к плечам. Круги согнутыми руками вперед и назад.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/6.png" />
    <p><strong>И.п. лежа. Поочередные выпрямления ног в коленях, опираясь бедрами о валик.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/7.png" />
    <p><strong>И.п. лежа. Сгибание рук к плечам в сочетании с дыханием по системе Стрельниковой А.Н.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/8.png" />
    <p><strong>И.п. лежа, ноги согнуты. Поочередное отведение коленей в стороны.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/9.png" />
    <p><strong>И.п. лежа, ноги согнуты. Руки вверх - вдох, прижать колено к животу. То же другой ногой.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/10.png" />
    <p><strong>И.п. лежа, ноги врозь. Ротация ног внутрь и наружу.</strong></p>
    <img src="~/Content/images/imagPublic/attachment/1_begin_period/11.png" />
    <p><strong>И.п. лежа. Диафрагмальное дыхание по системе Стрельниковой А.Н.</strong></p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/SPHA/_attachment" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs" }, new { @class = "back" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/SPHA/_acute_period2" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs" }, new { @class = "forward" })
<p class="p_last">&nbsp;</p>