@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_main" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs"  }, new { @class = "back", myUrl = "http://localhost:4632/", myTitle = "Главная" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_smailphilosophy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/SmailPhilosophy", myTitle = "" })

<h1>Жизнь - это Движение</h1>

<p>&lsquo;Жизнь &ndash; это движение&rsquo;&hellip; банальный девиз, над которым обычно не задумываешься, пока не почувствуешь, что не можешь полноценно жить и двигаться. Вообще, практически все &lsquo;вечные&rsquo; истины считаются банальными &ndash; знакомо настолько, что перестаешь замечать. Каждый пятый человек после 40 лет (а многие и раньше) знаком с этим ощущением, когда при попытке встать (у каждого свой вариант &ndash; согнулся, чихнул, наклонился за банкой с пивом и т.п.), он вдруг почувствовал&hellip;(ох, уж эти &lsquo;вдруг&rsquo;&hellip;) &lsquo;плата за прямохождение&rsquo; (но что-то уж слишком высокая плата), &lsquo;зубная боль в пояснице&rsquo;, радикулит, прострел и т.п. &ndash; какими только &lsquo;ласковыми&rsquo; эпитетами не называют эту проблему. Так вот, если эта проблема стала вам до боли родной, если периодически даешь себе клятвенные обещания &lsquo;заняться спиной&rsquo; (а затем успешно их забываешь), если иногда &lsquo;небо кажется с овчинку&rsquo; - значит, вы уже вполне созрели, чтобы задуматься над своим состоянием. Горы специальной литературы, самые посещаемые сайты в интернете, море информации (от сугубо медицинской до научно-популярной), официальная медицина и народные целители &ndash; все к вашим услугам,&hellip; да только проблема остается. Что делать? Хороший вопрос, хрестоматийный, &lsquo;вечный&rsquo;&hellip; (&lsquo;&hellip;подумать надо&rsquo; - сказал И. Ньютон, потирая шишку от яблока на голове. &lsquo;а что тут думать &ndash; трясти надо&rsquo; - ответил студент.)</p>

<h2>Небольшое философское отступление</h2>

<p>Неблагодарность попыток убедить отдельного человека (или все человечество в целом) очевидна (отсюда иногда возникает желание просто молча делать свое дело). Дело в том, что мы все всё <u>знаем</u>. И, самое забавное, что это действительно так. Но от владения информацией до применения ее как руководства к действию дистанция огромного размера (читай м. Веллера &lsquo;все о жизни&rsquo;). Поэтому психологические феномены оставим специалистам, скептики пусть брюзжат, а &hellip; &lsquo;караван идет&rsquo;.</p>


@Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_main" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://localhost:4632/", myTitle = "" })
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_smailphilosophy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/SmailPhilosophy", myTitle = "" })


@*<script type="text/javascript">
    window.history.pushState('object', 'Жизнь - это Движение', 'Lifego/LifeGo');
    // Это останавливает браузер, фактически следуя ссылке
    e.preventDefault();
</script>*@
