@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_lifego" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/LifeGo", myTitle = "Жизнь - это Движение" })

<h1 class="p_andrei">Сайт Андрея Кривошеева</h1>
<img src="~/Content/images/andr.jpg" alt="Фото Андрея Кривошеева" title="Фото Андрея Кривошеева" class="imgPhoto" />
<h2>Немного о себе, любимом&hellip;</h2>
<p>Зачем я ввязываюсь в &lsquo;эту бодягу&rsquo;, я и сам толком не знаю&hellip; Наверное, время пришло - созрел. Вообще-то, эпистолярный жанр &ndash; это не мое, да и по характеру я, скорее интроверт (хотя и не чистый &ndash; процентов этак на 70). Беседую, в основном, с друзьями-приятелями, с коллегами по работе &ndash; с аудиторией работать не умею, да и не особо расстраиваюсь. Настоящий разговор &ndash; это не для больших аудиторий, это для своих. А главное, мне всегда нравился свадебный лозунг: &lsquo;не надо советов - помогите материально!&rsquo;</p>
<p>Вероятно, на склад характера более всего повлияла профессия (если только это можно назвать профессией) &ndash; ремонтник РА. Это с молодости и это уже диагноз. Человек, с увлечением занимающийся ремонтом, имеет, чаще всего, &lsquo;перевернутое&rsquo; сознание &ndash; он дотошен, точен до нудности, необычен, странен, но, чаще всего, интересен. Сознание обычно &lsquo;переворачивает&rsquo; привычка мыслить &lsquo;от обратного&rsquo; т.е. Обычный человек от причины к следствию, а ремонтник от следствия к причине&hellip; и это начинает влиять на его мировоззрение, интересы, судьбу. Желание разобраться, как это работает, в чем причина неисправности, что можно сделать &ndash; в крови, отсюда обычно довольно большой диапазон интересов, навыков, привычка все систематизировать и раскладывать &lsquo;по полочкам&rsquo; (знакомы, вероятно, и вы с данным типом людей, хотя некоторых они и раздражают). Разумеется, я тоже достаточно вредный, имею привычку доводить все до логического завершения и&hellip; ну, в общем, вы уже поняли.</p>
<p>Далее в судьбе появляется интересное сочетание профессий и увлечений: радиоинженер, ремонтник, инженер по мед.технике и&hellip; спортивная борьба дзю-до, боевые искусства в целом (и, разумеется, все, что с ними связано) и т.д. и т.п. Но везде &ndash; в армии, в спортивной секции, на работе, в семье, среди друзей и знакомых &ndash; при столкновении с травмами (точнее с их последствиями) возникало желание помочь. Реальная помощь выходила не словами, а руками &ndash; действенная, эффективная, наглядная. Постепенно дотошность и привычка достигать определенного профессионализма во всем, за что берешься, заставили заниматься углубленным изучением вопроса, думать и экспериментировать, читать и искать что-то свое&hellip; и практика, и человеческие страдания, пропущенные через себя&hellip; и так вот уже 25 лет.</p>

<p>Я не массажист. Не профессионал &ndash; т.е. никогда не делал из этого бизнеса (да и вряд ли буду), у меня другие источники дохода и существования. Но&hellip; стань проще и люди к тебе потянутся.</p>

<p>В общении с людьми (язык не поворачивается назвать их больными &ndash; ведь чаще всего это достаточно близкие люди) возникало ощущение, что они хотя и знают много (а последние 10 лет чаще всего это были врачи-профессионалы, асы своего дела и, безусловно, опытные специалисты), но как-то теряются, не могут собрать свои знания и применить их к себе конкретно. Методик, вроде, много, а какую выбрать, что поможет именно тебе?.. И вот в таких беседах, когда ты сидишь на спине пациента и &lsquo;заговариваешь ему зубы&rsquo;, одновременно делаешь массаж и играешь в &lsquo;вечер вопросов и ответов&rsquo;, постепенно вырисовывался круг тех ответов на эти вопросы, которые удовлетворяют их любопытство. И затем ты начинаешь повторяться &ndash; сто раз, двести раз, и больше, и полнее&hellip; и вот ты созрел.</p>

<p>То, что вы читаете &ndash; это всего лишь мое видение проблемы, ни в коем случае не претендующее на звание истины в последней инстанции. Скорее это попытка заставить вас мыслить и действовать самостоятельно, осознано подходить к проблеме своего здоровья, здоровья своих детей и близких. Оставим специалистам изучение глубинной сути процессов течения болезни, вопросы профилактики (точнее все, о чем пойдет речь и есть профилактика, только уже &lsquo;поздно пить боржоми&rsquo;) &ndash; обращаться к науке будем только с одной целью &ndash; &lsquo;вытянуть&rsquo; организм из этого состояния.</p>

<p>Рассчитано это на неспециалистов, поэтому заранее прошу простить за некоторую механистичность суждений, упрощенность и не наукообразность. Конечно, совсем уж просто не получилось &ndash; проблема-то уж очень не проста. Тем не менее &ndash; &lsquo;желающий видеть да увидит&rsquo;.</p>

<p>&lsquo;Нельзя объять необъятное&rsquo; - многие методы и способы лечения могут быть не известны мне, просто недоступны или быть созданы вновь. Информация отбиралась из-за простоты и доступности, (это не значит легкости в применении), действенность приемов проверялась многолетней практикой и, безусловно, каждый найдет здесь и известное ему, и что-то новое. Это не научное исследование, а руководство к действию.</p>
<p>Большое спасибо всем коллегам-врачам за консультации по различным вопросам! За помощь в сборе информации и компьютерную верстку спасибо коллегам по работе - без них просто ничего бы не было.</p>
<p>Для углубленного изучения вопроса можно обратиться к специальной литературе. Список используемой литературы прилагается.</p>

<p> Для углубленного изучения вопроса можно обратиться к специальной литературе. Список используемой литературы прилагается.</p>

<p class="rightalign"> Кривошеев А.В.</p>

<p class="centeralign">Посвящается всем Врачам. Спасибо Вам за Вашу работу!</p>

<p class="centeralign">г. Новосибирск</p>

<p class="centeralign">2004</p>

@*<p class="centeralign">тел. 315 &ndash; 98 - 66</p>*@
@Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_lifego" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://localhost:4632/Lifego/LifeGo", myTitle = "Жизнь - это Движение" })
