    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_lifego" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/LifeGo", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_osteochondrosis" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Osteochondrosis", myTitle = "" })

    <h1>Здоровье</h1>
    <p>Здоровье. Его надо беречь. Знаем. И тем не менее&hellip; Затем начинается борьба за его восстановление. А что такое здоровье?&hellip; ну,&hellip;это когда нигде ничего не болит, чувствуешь себя хорошо, энергии много, петь хо... Извините. А если серьезно?</p>

<p>Не болит&hellip; организм самодиагностирующаяся система, боль - сигнал, что где-то неполадки. Поэтому отношение к боли должно быть трепетным, ее надо &lsquo;любить&rsquo;. Требование &lsquo;убрать боль&rsquo; совершенно абсурдно, если существуют неполадки &ndash; сигнал тревоги должен идти. Это естественно &ndash; неисправность, прими соответствующие меры. Другое дело, что раз информация уже получена, можно снизить интенсивность сигнала &ndash; сильная боль может вызвать шоковое состояние, оцепенение организма, мешает нормальной жизнедеятельности. С этой точки зрения боль необходимо уменьшить, но совсем исчезнуть она может при устранении причины (выздоровление), нарушении информационной системы (нервная проводимость, рецепторы) или&hellip; &lsquo;если после 40 лет вы утром проснулись, и у вас ничего не болит &ndash; проверьте, может вы уже в раю&rsquo;.</p>

<p>Хорошее самочувствие &ndash; труднее всего поддается описанию, вещь сугубо индивидуальная, связано обычно со сложным комплексом физиологических и психологических процессов.</p>

<p>Энергонасыщенность организма, наличие жизненной энергии, ее движение по энергетическим каналам, осмысленное ее использование&hellip; четкого научного определения пока нет, тысячелетние исследования восточной медицины позволяют пользоваться методиками управления и перераспределения этой энергии. Можно верить в нее или нет, но субъективно большинство из нас чувствуют в себе &lsquo;что-то такое&rsquo;&hellip;</p>

<p> Здоровье понятие среднестатистическое, организм имеет некоторые средние границы своего оптимального существования, все системы и органы в нем взаимосвязаны и взаимообусловлены. Поэтому, если говорить очень просто, здоровье - это как раз то гармоничное состояние, когда все системы организма находятся в соответствующем равновесии как внутри себя, так и с внешней средой.</p>

<p>При выведении этой системы из равновесия (внешние факторы, болезни, травмы и т.д.), она стремится создать новое равновесие (уже с использованием больного или пораженного органа), подстраиваясь и приспосабливаясь к новым условиям &ndash; жизнеспособность организма сохраняется, но уже с известными ограничениями.</p>

<p>Теперь хорошая ложка дегтя (кстати, любимый &lsquo;коктейль&rsquo; человечества &ndash; &lsquo;мед с дегтем&rsquo;). Повреждения имеют тенденцию накапливаться в течение жизни, а система регенерации организма имеет ограниченные возможности (но все же имеет, что радует). Хорошо бы, конечно, чтобы как &lsquo;отпавший хвост у ящерицы&rsquo;, но&hellip;</p>

<p>И все же система регенерации работает &ndash; заживают травмы разной тяжести, обновляются клетки, срастаются переломы костей &ndash; только для каждого вида повреждения существует свое время регенерации (иногда очень (!) Длительное) и индивидуальное для каждого.</p>

<p>И главное. Надо четко отдавать себе отчет, что даже после восстановления работоспособности это будет уже другой орган, имеющий свою сложную предысторию, которая наложила на него отпечаток. И качество жизни будет уже иным, с известными ограничениями &ndash; &lsquo;нельзя дважды ступить в одну реку&rsquo;. Но чем меньше будет этих ограничений, тем полнее восстановление. Молодой, здоровый человек обычно своего тела не чувствует, он гибок и энергичен, его мышцы эластичны, суставы имеют максимальные пределы и углы подвижности, движения не причиняют боли (особенно, если он еще и тренирован). Затем с возрастом&hellip; стоп.</p>

<p>Посмотрите на &lsquo;китайских дедушек&rsquo;, которые по утрам занимаются в парках. И это старость? Да любой местный хулиган лучше обойдет такого &lsquo;дедушку&rsquo; десятой дорогой &ndash; иначе не ясно как, но может быть очень больно. А ведь им зачастую под 80! У вас такой возраст, насколько гибок ваш позвоночник. Кстати, очень многие из них признаются, что занимаются, не очень долго &ndash; лет 10-20. Не слабо!</p>

<p>Но ведь у меня-то спина болит. Здесь и сейчас. Мы уже почти готовы согласиться и сделать выводы, но делать-то что?</p>

<p>Надо сходить к врачу (если вы еще не на учете), посоветоваться со специалистом и взять направление на серьезную диагностику &ndash; рентгенографию, мр или кт томографию и т.п. Скупиться не стоит &ndash; на сегодняшний день это самые информативные методы. Имея на руках снимки и заключение с точным диагнозом, можно подумать и о дальнейших шагах. С большой степенью вероятности у вас будет стоять в диагнозе остеохондроз (различной локализации), лечащий врач назначит соответствующее лечение, физиопроцедуры, лфк и т.п. Многие, кстати, этот &lsquo;путь&rsquo; уже прошли, могут считаться &lsquo;профессиональными больными&rsquo; и судят о заболевании на основании собственного горького опыта.</p>

<p>Для новичков и просто любознательных следующая глава.</p>


    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_lifego" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://spalpu.ru/Lifego/LifeGo", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_osteochondrosis" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://spalpu.ru/Lifego/Osteochondrosis", myTitle = "" })
