    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_mysshtsy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://webmvc.ru/Lifego/Mysshtsy", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_relaxation" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://webmvc.ru/Lifego/Relaxation", myTitle = "" })

    <h1>Что такое Мышца?</h1>
    <p style="text-align: justify;">
         <strong><em>Мышца</em></strong><strong> &ndash; это Скопление большого числа мышечных Волокон, вытянутых параллельно друг другу. Волокна являются&nbsp; основными&nbsp; Сокращающимися Элементами Мышц. Причем волокна сокращаются обязательно Полностью, т.е.&nbsp; для мышечного волокна характерно лишь два Состояния:&nbsp; полное Сокращение&nbsp; либо полное Расслабление.</strong></span>
    </p>
    <p style="text-align: justify;">
        <strong> В мышце существуют мышечные волокна с <em>разными Порогами</em> Реакции &ndash; от самых Высоких до самых Низких. Это позволяет сокращаться&nbsp; мышце Плавно и Постепенно, по мере того, как все больше волокон Реагируют на усиливающуюся <em>нервно</em>-двигательную Стимуляцию. В мышце имеется Вспомогательный Аппарат &ndash;&nbsp; Фасции&nbsp; (соединительная ткань, образующая ‘Каркас’ мышцы), мышечные Веретенца&nbsp; (органы Чувств в мышцах, передают мозгу информацию о Состоянии мышцы).&nbsp; Благодаря большому количеству <em>Крове</em>носных Сосудов&nbsp; мышцы обильно снабжены Кровью, имеется также развитая сеть Лимфатических Сосудов.</strong></span>
    </p>
    <p style="text-align: justify;">
        <strong> Функционально мышцы скелета работают Группами,&nbsp; выполняют Согласованные Движения, определяемые Мышечной <em>Координацией</em>. Мышцы, выполняющие <em>Противо</em>положенные Движения называются <em>Антагонистами</em> (сгибатели и разгибатели руки в локте,&nbsp; например &ndash; Бицепсы и Трицепсы).</strong></span>
    </p>
    <p style="text-align: justify;">
        <strong> Главное, что надо <em>Знать </em>о наших Мышцах.&nbsp;&nbsp; Даже в <em>Полностью Расслабленной</em> Мышце есть небольшое количество волокон в Сокращенном Состоянии &ndash; это Мышечный <em>Тонус,</em> он зависит от постоянной <em>низко</em>частотной <em>нервно</em>-двигательной Стимуляции ее Мозгом.&nbsp; Недостаточный Тонус делает мышцы вялыми и дряблыми<em>, слишком</em> высокий вводит Мозг в заблуждение &ndash; он подает Команду на Сокращение Мышце-Антагонисту,&nbsp; так&nbsp;&nbsp; возникает Спастическое Состояние, что очень Не Выгодно Энергетически,&nbsp;&nbsp; мышцы быстро утомляются и слабеют.&nbsp;&nbsp; Почему проходит такой Сигнал?</strong></span>
    </p>
    <p style="text-align: justify;">
        <strong>NB</strong><strong>!&nbsp;&nbsp; Дело в том, что Мышца может Сокращаться только <em>в Одном Направлении</em>, <em>Сброс Напряжения</em> при Нормальном&nbsp; (<em>знако</em>переменном)&nbsp; Режиме Работы происходит <em>за счет Сокращения Мышцы-Антагониста </em>&nbsp;и именно она Растягивает-Расслабляет&nbsp; нашу Мышцу &ndash;&nbsp; Природа мудра и экономна. Поэтому &nbsp;&nbsp;<em>Полноценное &nbsp;Расслабление</em> &nbsp;мышцы&nbsp;&nbsp; &nbsp;<em>обычно&nbsp;&nbsp; &nbsp;</em>происходит&nbsp; &nbsp;при &nbsp;&nbsp;ее &nbsp;&nbsp;<em>Растяжении</em>&nbsp; (запомним это). &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
    </p>
    <p style="text-align: justify;">
        <strong>В<em>олевое Расслабление</em> Мышцы связано&nbsp; с изменением&nbsp; ее Тонуса и гораздо более <em>длительный и сложный</em> Процесс (обычно десятки минут).</strong></span>
    </p>
    <h2>
        Соло&nbsp; (Один Дома)
    </h2>
    <p style="text-align: justify;">
        <strong> Так уж получается, что большую часть Времени человек предоставлен Сам Себе, Переложить на других большую часть Работы не получается, поэтому самые распространенные <em>Упражнения </em>&nbsp;(буду по привычке называть весь Комплекс Движений и Процедур по-спортивному) придется выполнять в Одиночку. Все, что здесь описано,&nbsp; Опробовано на Себе и немалом количестве Пациентов,&nbsp; в Эффективности попробуйте убедиться&nbsp; Самостоятельно. Знакомьтесь &ndash; </strong><strong>Система Физической Активности &nbsp;(СФА)</strong><strong>. Главный Критерий, по которому отбирались Упражнения <em>&ndash; Возможность</em> выполнять их в Одиночку. Это <em>не самый</em> Эффективный Вид Занятий (об этом дальше), но, как показывает Практика,&nbsp; Беспроигрышный Вариант&nbsp; &ndash; Независимость от других, Дешевизна Оборудования&nbsp; и практически Нет Ограничений по Времени Занятий (именно этот Аргумент часто становится Решающим). Понимание сути Процессов помноженное на большое Количество Повторений (вообще-то, это должно стать <em>Образом Жизни</em>), рано или поздно приносит Результат. Желание вернуть свой организм&nbsp; в Нормальное Состояние должно быть очень Сильным, но ‘&hellip;кто Желает, но не Действует &ndash; тот плодит Чуму’ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(В. Блейк). &nbsp;&nbsp;Поэтому Думайте, Анализируйте, Занимайтесь Самостоятельно&nbsp; и &nbsp;&nbsp;<em>да &nbsp;&nbsp;Поможет &nbsp;&nbsp;Вам&nbsp; &nbsp;Бог!</em></strong></span>
    </p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_mysshtsy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", myUrl = "http://webmvc.ru/Lifego/Mysshtsy", myTitle = "" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_relaxation" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", myUrl = "http://webmvc.ru/Lifego/Relaxation", myTitle = "" })
