    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_mysshtsy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/Lifego/Mysshtsy", data_mytitle = "Мышцы" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_relaxation" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/Lifego/Relaxation", data_mytitle = "Расслабление" })

    <h1>Что такое мышца?</h1>
    <p style="text-align: justify;">
         Мышца &ndash; это скопление большого числа мышечных волокон, вытянутых параллельно друг другу. Волокна являются основными сокращающимися элементами мышц. Причем волокна сокращаются обязательно полностью, т.е. для мышечного волокна характерно лишь два состояния: полное сокращение либо полное расслабление.
    </p>
    <p style="text-align: justify;">
         В мышце существуют мышечные волокна с разными порогами реакции &ndash; от самых высоких до самых низких. Это позволяет сокращаться мышце плавно и постепенно, по мере того, как все больше волокон реагируют на усиливающуюся нервно-двигательную стимуляцию. В мышце имеется вспомогательный аппарат &ndash; фасции (соединительная ткань, образующая ‘каркас’ мышцы), мышечные веретенца (органы чувств в мышцах, передают мозгу информацию о состоянии мышцы). Благодаря большому количеству кровеносных сосудов мышцы обильно снабжены кровью, имеется также развитая сеть лимфатических сосудов.
    </p>
    <p style="text-align: justify;">
         Функционально мышцы скелета работают группами, выполняют согласованные движения, определяемые мышечной координацией. Мышцы, выполняющие противоположенные движения называются антагонистами (сгибатели и разгибатели руки в локте, например &ndash; бицепсы и трицепсы).
    </p>
    <p style="text-align: justify;">
         Главное, что надо знать о наших мышцах. Даже в полностью расслабленной мышце есть небольшое количество волокон в сокращенном состоянии &ndash; это мышечный тонус, он зависит от постоянной низкочастотной нервно-двигательной стимуляции ее мозгом. Недостаточный тонус делает мышцы вялыми и дряблыми, слишком высокий вводит мозг в заблуждение &ndash; он подает команду на сокращение мышце-антагонисту, так возникает спастическое состояние, что очень не выгодно энергетически, мышцы быстро утомляются и слабеют. Почему проходит такой сигнал?
    </p>
    <p style="text-align: justify;">
        Дело в том, что мышца может сокращаться только в одном направлении, сброс напряжения при нормальном (знакопеременном) режиме работы происходит за счет сокращения мышцы-антагониста и именно она растягивает-расслабляет нашу мышцу &ndash; природа мудра и экономна. Поэтому полноценное расслабление мышцы обычно происходит при ее растяжении (запомним это). 
    </p>
    <p style="text-align: justify;">
        Волевое расслабление мышцы связано с изменением ее тонуса и гораздо более длительный и сложный процесс (обычно десятки минут).
    </p>
    <h2>
        Соло (один дома)
    </h2>
    <p style="text-align: justify;">
         Так уж получается, что большую часть времени человек предоставлен сам себе, переложить на других большую часть работы не получается, поэтому самые распространенные упражнения (буду по привычке называть весь комплекс движений и процедур по-спортивному) придется выполнять в одиночку. Все, что здесь описано, опробовано на себе и немалом количестве пациентов, в эффективности попробуйте убедиться самостоятельно. Знакомьтесь &ndash; Система Физической Активности (СФА). Главный критерий, по которому отбирались упражнения &ndash; возможность выполнять их в одиночку. Это не самый эффективный вид занятий (об этом дальше), но, как показывает практика, беспроигрышный вариант &ndash; независимость от других, дешевизна оборудования и практически нет ограничений по времени занятий (именно этот аргумент часто становится решающим). Понимание сути процессов помноженное на большое количество повторений (вообще-то, это должно стать образом жизни), рано или поздно приносит результат. Желание вернуть свой организм в нормальное состояние должно быть очень сильным, но ‘&hellip;кто желает, но не действует &ndash; тот плодит чуму’(В. Блейк). Поэтому думайте, анализируйте, занимайтесь самостоятельно и да поможет вам Бог!
    </p>

    @Ajax.ActionLink("НАЗАД", "Index", "Home", new { strpage = "LifeGo/_mysshtsy" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "back", data_myurl = "http://localhost:4632/Lifego/Mysshtsy", data_mytitle = "Мышцы" })
    @Ajax.ActionLink("ВПЕРЕД", "Index", "Home", new { strpage = "LifeGo/_relaxation" }, new AjaxOptions() { UpdateTargetId = "loadcontent", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnComplete = "OnCompleteJs", OnSuccess = "OnSuccessJs" }, new { @class = "forward", data_myurl = "http://localhost:4632/Lifego/Relaxation", data_mytitle = "Расслабление" })
