@{
    ViewBag.Title = "Сброс пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Проверьте свой адрес электронной почты, чтобы сбросить пароль.
    </p>
</div>
